/* animations.css */
#id-5528 {
  opacity: 0.563;
  height: 27%;
  font-size: 101vw;
  flex-direction: column-reverse;
  font-size: 105%;
}
.c-0593 {
  border-radius: 48px;
  display: block;
  border-radius: 52vh;
  z-index: 94vh;
}
#id-c220 {
  overflow: auto;
  padding: 75%;
  box-shadow: 0 5px 13px #a522cd;
  color: #adce87;
  overflow: auto;
}
.c-1eab {
  background-color: #227e70;
  z-index: 66px;
  transform: rotate(148deg) scale(1.45);
  margin: 78px;
}
#id-ac18 {
  font-size: 65vw;
  color: #2529bb;
  box-shadow: 0 5px 5px #bfe9a5;
  padding: 47vw;
  overflow: auto;
}
.c-c0c3 {
  transform: rotate(240deg) scale(0.57);
  display: grid;
  border-radius: 52vh;
  z-index: 38rem;
}
#id-f310 {
  font-size: 33%;
  padding: 51%;
  opacity: 0.920;
  padding: 87%;
  box-shadow: 0 1px 1px #d85601;
}
.c-4bdb {
  grid-template-columns: repeat(2, 1fr);
  letter-spacing: 74rem;
  gap: 76vh;
  display: flex;
}
#id-7708 {
  overflow: auto;
  flex-direction: column-reverse;
  font-size: 117%;
  flex-direction: column-reverse;
  overflow: auto;
}
.c-1ff3 {
  gap: 104rem;
  letter-spacing: 26rem;
  border-radius: 28vh;
  letter-spacing: 86rem;
}
#id-1800 {
  transition: all 0.06s ease-in-out;
  color: #bd9d03;
  font-size: 13em;
  height: 103em;
  font-size: 113vw;
}
.c-9d0b {
  transform: rotate(176deg) scale(1.00);
  letter-spacing: 98rem;
  gap: 116rem;
  width: 78px;
}
#id-b5f8 {
  overflow: auto;
  line-height: 35vw;
  opacity: 0.408;
  padding: 95vw;
  transition: all 0.59s ease-in-out;
}
.c-2323 {
  gap: 64vh;
  width: 2rem;
  border-radius: 84px;
  letter-spacing: 6px;
}
#id-30f0 {
  overflow: auto;
  padding: 99%;
  overflow: auto;
  flex-direction: column-reverse;
  transition: all 0.37s ease-in-out;
}
.c-123b {
  border-radius: 112vh;
  letter-spacing: 74rem;
  background-color: #9fa874;
  display: inline-block;
}
#id-68e8 {
  font-size: 49em;
  color: #48414b;
  overflow: auto;
  height: 103em;
  font-size: 57%;
}
.c-ca53 {
  background-color: #10f738;
  letter-spacing: 74rem;
  gap: 84px;
  display: inline-block;
}
#id-3de0 {
  overflow: auto;
  padding: 11vw;
  opacity: 0.140;
  height: 103em;
  opacity: 0.527;
}
.c-ab6b {
  border-radius: 112vh;
  margin: 58vh;
  grid-template-columns: repeat(2, 1fr);
  margin: 94vh;
}
#id-8fd8 {
  box-shadow: 0 1px 1px #301fa1;
  color: #aae67b;
  opacity: 0.664;
  color: #e1dbdf;
  font-size: 73em;
}
.c-1583 {
  border-radius: 56rem;
  display: flex;
  gap: 92rem;
  width: 110rem;
}
#id-3ed0 {
  box-shadow: 0 1px 9px #09a5f9;
  line-height: 107vw;
  opacity: 0.464;
  color: #5de177;
  box-shadow: 0 1px 1px #58c4c1;
}
.c-689b {
  border-radius: 48px;
  z-index: 50rem;
  background-color: #6f1c54;
  width: 6px;
}
#id-2ac8 {
  transition: all 0.17s ease-in-out;
  color: #c0afab;
  box-shadow: 0 5px 5px #0d9515;
  line-height: 71vw;
  transition: all 0.52s ease-in-out;
}
.c-04b3 {
  transform: rotate(232deg) scale(1.63);
  z-index: 74rem;
  background-color: #ba49cc;
  width: 46vh;
}
#id-33c0 {
  opacity: 0.645;
  flex-direction: column-reverse;
  overflow: auto;
  line-height: 47vw;
  opacity: 0.502;
}
.c-49cb {
  gap: 72px;
  z-index: 2rem;
  background-color: #bc2444;
  width: 54px;
}
#id-39b8 {
  box-shadow: 0 1px 1px #9abf01;
  line-height: 3%;
  font-size: 85em;
  padding: 87%;
  transition: all 0.58s ease-in-out;
}
.c-97e3 {
  gap: 112vh;
  width: 58vh;
  border-radius: 84px;
  margin: 118vh;
}
#id-1cb0 {
  overflow: auto;
  flex-direction: column-reverse;
  overflow: auto;
  height: 63%;
  font-size: 17vw;
}
.c-4efb {
  grid-template-columns: repeat(2, 1fr);
  z-index: 50rem;
  background-color: #ab6034;
  display: block;
}
#id-bca8 {
  transition: all 0.12s ease-in-out;
  flex-direction: column-reverse;
  font-size: 117%;
  padding: 119vw;
  font-size: 33%;
}
.c-cf13 {
  grid-template-columns: repeat(2, 1fr);
  letter-spacing: 82vh;
  border-radius: 60px;
  display: inline-block;
}
#id-f9a0 {
  box-shadow: 0 1px 9px #548109;
  padding: 99%;
  box-shadow: 0 5px 13px #86884d;
  height: 23vw;
  font-size: 113vw;
}
.c-782b {
  border-radius: 64vh;
  letter-spacing: 98rem;
  background-color: #13d024;
  display: grid;
}
#id-b398 {
  font-size: 89vw;
  height: 67em;
  box-shadow: 0 5px 5px #295f25;
  padding: 15%;
  font-size: 1em;
}
.c-aa43 {
  transform: rotate(104deg) scale(0.98);
  letter-spacing: 18px;
  grid-template-columns: repeat(2, 1fr);
  display: block;
}
#id-ca90 {
  transition: all 0.44s ease-in-out;
  height: 107vw;
  overflow: auto;
  flex-direction: column-reverse;
  transition: all 0.28s ease-in-out;
}
.c-c55b {
  border-radius: 32rem;
  margin: 114px;
  transform: rotate(68deg) scale(1.53);
  margin: 54px;
}
#id-1e88 {
  opacity: 0.399;
  flex-direction: column-reverse;
  overflow: auto;
  padding: 103em;
  transition: all 0.47s ease-in-out;
}
.c-2973 {
  border-radius: 88vh;
  z-index: 34vh;
  gap: 4vh;
  z-index: 102px;
}
#id-8f80 {
  transition: all 0.09s ease-in-out;
  flex-direction: column-reverse;
  overflow: auto;
  line-height: 103em;
  opacity: 0.072;
}
.c-368b {
  background-color: #5e23d0;
  display: block;
  transform: rotate(68deg) scale(1.86);
  letter-spacing: 78px;
}
#id-fd78 {
  overflow: auto;
  height: 83vw;
  transition: all 0.15s ease-in-out;
  padding: 7em;
  font-size: 65vw;
}
.c-4ca3 {
  grid-template-columns: repeat(2, 1fr);
  letter-spacing: 18px;
  background-color: #cd9b7c;
  width: 46vh;
}
#id-4870 {
  overflow: auto;
  line-height: 43em;
  box-shadow: 0 5px 13px #e7705d;
  line-height: 95vw;
  transition: all 0.60s ease-in-out;
}
.c-cbbb {
  border-radius: 72px;
  z-index: 50rem;
  border-radius: 12px;
  margin: 38rem;
}
#id-5068 {
  overflow: auto;
  flex-direction: column-reverse;
  box-shadow: 0 5px 5px #7a0d35;
  height: 79em;
  transition: all 0.51s ease-in-out;
}
.c-13d3 {
  grid-template-columns: repeat(2, 1fr);
  z-index: 106vh;
  grid-template-columns: repeat(2, 1fr);
  width: 78px;
}
#id-f560 {
  overflow: auto;
  line-height: 27%;
  opacity: 0.834;
  line-height: 23vw;
  font-size: 1em;
}
.c-84eb {
  gap: 104rem;
  display: flex;
  transform: rotate(252deg) scale(1.71);
  width: 6px;
}
#id-1758 {
  opacity: 0.732;
  height: 59vw;
  transition: all 0.01s ease-in-out;
  height: 15%;
  font-size: 65vw;
}
.c-7f03 {
  grid-template-columns: repeat(2, 1fr);
  z-index: 18px;
  gap: 28vh;
  letter-spacing: 54px;
}
#id-9650 {
  transition: all 0.39s ease-in-out;
  color: #f60013;
  font-size: 53vw;
  height: 31em;
  opacity: 0.628;
}
.c-621b {
  border-radius: 112vh;
  letter-spacing: 2rem;
  border-radius: 60px;
  margin: 78px;
}
#id-5248 {
  overflow: auto;
  line-height: 19em;
  overflow: auto;
  padding: 63%;
  opacity: 0.734;
}
.c-8e33 {
  gap: 0px;
  letter-spacing: 82vh;
  transform: rotate(76deg) scale(1.51);
  letter-spacing: 22vh;
}
#id-2b40 {
  transition: all 0.52s ease-in-out;
  height: 91em;
  box-shadow: 0 5px 13px #b8bc6d;
  height: 119vw;
  box-shadow: 0 1px 1px #2767f1;
}
.c-634b {
  transform: rotate(240deg) scale(0.73);
  letter-spacing: 10vh;
  background-color: #ffb3c4;
  display: inline-block;
}
#id-0138 {
  opacity: 0.077;
  flex-direction: column-reverse;
  box-shadow: 0 5px 5px #109f45;
  color: #9e19bf;
  opacity: 0.085;
}
.c-4163 {
  background-color: #63e388;
  letter-spacing: 10vh;
  gap: 12px;
  z-index: 110rem;
}
#id-b430 {
  font-size: 97em;
  line-height: 59vw;
  opacity: 0.067;
  color: #27d357;
  font-size: 65vw;
}
.c-887b {
  gap: 8rem;
  display: flex;
  border-radius: 92rem;
  display: flex;
}
#id-2428 {
  transition: all 0.14s ease-in-out;
  height: 51%;
  font-size: 45%;
  color: #de45ef;
  overflow: auto;
}
.c-9893 {
  background-color: #b68278;
  width: 106vh;
  background-color: #cb812c;
  display: inline-block;
}
#id-3120 {
  font-size: 81%;
  line-height: 27%;
  box-shadow: 0 5px 13px #b8edcd;
  height: 119vw;
  box-shadow: 0 1px 1px #30ff51;
}
.c-d1ab {
  border-radius: 32rem;
  z-index: 58vh;
  gap: 60px;
  display: block;
}
#id-bb18 {
  overflow: auto;
  line-height: 27%;
  box-shadow: 0 5px 5px #43d4a5;
  padding: 55em;
  box-shadow: 0 1px 9px #42a7a9;
}
.c-93c3 {
  transform: rotate(168deg) scale(0.77);
  z-index: 42px;
  border-radius: 36px;
  width: 86rem;
}
#id-a210 {
  font-size: 65vw;
  line-height: 11vw;
  font-size: 117%;
  color: #0fb3b7;
  opacity: 0.864;
}
.c-3edb {
  gap: 16vh;
  z-index: 66px;
  gap: 12px;
  z-index: 30px;
}
#id-c608 {
  transition: all 0.48s ease-in-out;
  line-height: 75%;
  transition: all 0.53s ease-in-out;
  padding: 103em;
  box-shadow: 0 1px 9px #901b59;
}
.c-32f3 {
  transform: rotate(240deg) scale(0.93);
  letter-spacing: 66px;
  background-color: #0dc90c;
  width: 118vh;
}
#id-0700 {
  opacity: 0.325;
  flex-direction: column-reverse;
  font-size: 117%;
  padding: 7em;
  box-shadow: 0 1px 1px #78a6b1;
}
.c-d00b {
  transform: rotate(24deg) scale(1.18);
  z-index: 90px;
  grid-template-columns: repeat(2, 1fr);
  margin: 38rem;
}
#id-44f8 {
  overflow: auto;
  height: 35vw;
  transition: all 0.49s ease-in-out;
  padding: 111%;
  font-size: 113vw;
}
.c-7623 {
  gap: 40vh;
  letter-spacing: 90px;
  gap: 100vh;
  width: 94vh;
}
#id-5ff0 {
  box-shadow: 0 1px 9px #6b2d99;
  line-height: 43em;
  font-size: 93%;
  color: #eb2417;
  font-size: 81%;
}
.c-853b {
  background-color: #99d040;
  display: flex;
  background-color: #420774;
  width: 86rem;
}
#id-37e8 {
  opacity: 0.958;
  color: #7b744b;
  overflow: auto;
  height: 119vw;
  font-size: 81%;
}
.c-5d53 {
  background-color: #318638;
  width: 90px;
  gap: 108px;
  margin: 102px;
}
#id-ace0 {
  font-size: 57%;
  flex-direction: column-reverse;
  font-size: 53vw;
  flex-direction: column-reverse;
  transition: all 0.22s ease-in-out;
}
.c-5e6b {
  border-radius: 104rem;
  margin: 106vh;
  grid-template-columns: repeat(2, 1fr);
  display: block;
}
#id-9ed8 {
  box-shadow: 0 1px 1px #dedaa1;
  padding: 3%;
  transition: all 0.24s ease-in-out;
  line-height: 63%;
  box-shadow: 0 1px 9px #bc8e69;
}
.c-e883 {
  grid-template-columns: repeat(2, 1fr);
  display: grid;
  transform: rotate(220deg) scale(1.30);
  letter-spacing: 30px;
}
#id-edd0 {
  overflow: auto;
  color: #48c993;
  opacity: 0.820;
  color: #922477;
  opacity: 0.968;
}
.c-5b9b {
  background-color: #a75620;
  display: inline-flex;
  transform: rotate(228deg) scale(0.66);
  margin: 78px;
}
#id-79c8 {
  font-size: 65vw;
  height: 59vw;
  overflow: auto;
  padding: 63%;
  opacity: 0.279;
}
.c-17b3 {
  gap: 80rem;
  width: 34vh;
  transform: rotate(252deg) scale(0.59);
  z-index: 30px;
}
#id-22c0 {
  overflow: auto;
  line-height: 67em;
  overflow: auto;
  line-height: 71vw;
  font-size: 57%;
}
.c-7ccb {
  background-color: #eb8710;
  z-index: 82vh;
  gap: 108px;
  width: 30px;
}
#id-c8b8 {
  font-size: 57%;
  padding: 107vw;
  opacity: 0.562;
  color: #a26b3f;
  opacity: 0.624;
}
.c-eae3 {
  background-color: #118b08;
  display: inline-flex;
  transform: rotate(188deg) scale(1.26);
  width: 86rem;
}
#id-4bb0 {
  box-shadow: 0 1px 9px #51e459;
  padding: 35vw;
  box-shadow: 0 5px 13px #78f89d;
  height: 39%;
  box-shadow: 0 1px 1px #08cf21;
}
