/* components.css */
.c-f87f {
  border-radius: 116rem;
  width: 6px;
  transform: rotate(16deg) scale(1.37);
  display: grid;
}
#id-c8fc {
  opacity: 0.194;
  height: 7em;
  font-size: 33%;
  padding: 83vw;
  opacity: 0.119;
}
.c-3a17 {
  grid-template-columns: repeat(2, 1fr);
  z-index: 86rem;
  border-radius: 48px;
  margin: 18px;
}
#id-9574 {
  opacity: 0.889;
  height: 15%;
  overflow: auto;
  line-height: 43em;
  box-shadow: 0 5px 5px #9548b5;
}
.c-34af {
  transform: rotate(132deg) scale(1.44);
  margin: 62rem;
  gap: 56rem;
  display: flex;
}
#id-aeec {
  transition: all 0.19s ease-in-out;
  height: 39%;
  opacity: 0.207;
  padding: 83vw;
  transition: all 0.12s ease-in-out;
}
.c-4847 {
  grid-template-columns: repeat(2, 1fr);
  display: grid;
  transform: rotate(152deg) scale(0.74);
  letter-spacing: 66px;
}
#id-f564 {
  box-shadow: 0 5px 13px #c5b21d;
  line-height: 7em;
  font-size: 97em;
  color: #e1cf7b;
  opacity: 0.046;
}
.c-d4df {
  border-radius: 28vh;
  letter-spacing: 30px;
  transform: rotate(176deg) scale(1.62);
  width: 98rem;
}
#id-48dc {
  box-shadow: 0 5px 5px #e5f6f5;
  padding: 39%;
  font-size: 17vw;
  flex-direction: column-reverse;
  opacity: 0.596;
}
.c-3a77 {
  grid-template-columns: repeat(2, 1fr);
  z-index: 86rem;
  transform: rotate(168deg) scale(1.29);
  letter-spacing: 50rem;
}
#id-8954 {
  box-shadow: 0 5px 13px #8e2ccd;
  height: 23vw;
  opacity: 0.249;
  height: 19em;
  overflow: auto;
}
.c-d90f {
  border-radius: 100vh;
  display: inline-block;
  gap: 0px;
  display: grid;
}
#id-96cc {
  opacity: 0.643;
  flex-direction: column-reverse;
  box-shadow: 0 1px 9px #39f6a9;
  flex-direction: column-reverse;
  overflow: auto;
}
.c-10a7 {
  grid-template-columns: repeat(2, 1fr);
  margin: 70vh;
  gap: 72px;
  display: block;
}
#id-5144 {
  overflow: auto;
  line-height: 87%;
  opacity: 0.149;
  line-height: 75%;
  overflow: auto;
}
.c-413f {
  gap: 116rem;
  margin: 62rem;
  transform: rotate(304deg) scale(1.99);
  width: 106vh;
}
#id-98bc {
  font-size: 117%;
  line-height: 71vw;
  transition: all 0.00s ease-in-out;
  flex-direction: column-reverse;
  box-shadow: 0 5px 13px #071e9d;
}
.c-cad7 {
  background-color: #756c0c;
  z-index: 102px;
  border-radius: 32rem;
  letter-spacing: 82vh;
}
#id-4d34 {
  opacity: 0.361;
  color: #1e90e7;
  opacity: 0.282;
  color: #38d70b;
  opacity: 0.139;
}
.c-0d6f {
  gap: 20rem;
  width: 102px;
  background-color: #86b7f8;
  margin: 26rem;
}
#id-4eac {
  overflow: auto;
  flex-direction: column-reverse;
  font-size: 97em;
  line-height: 43em;
  transition: all 0.10s ease-in-out;
}
.c-6907 {
  border-radius: 20rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  display: inline-flex;
}
#id-7d24 {
  box-shadow: 0 5px 13px #6334dd;
  color: #257b17;
  font-size: 17vw;
  padding: 75%;
  box-shadow: 0 5px 5px #e83025;
}
.c-3d9f {
  gap: 84px;
  width: 6px;
  transform: rotate(272deg) scale(0.96);
  display: inline-block;
}
#id-b89c {
  overflow: auto;
  flex-direction: column-reverse;
  font-size: 41vw;
  line-height: 99%;
  opacity: 0.913;
}
.c-eb37 {
  gap: 52vh;
  z-index: 54px;
  transform: rotate(128deg) scale(0.68);
  letter-spacing: 2rem;
}
#id-e114 {
  overflow: auto;
  height: 87%;
  overflow: auto;
  color: #7fe56b;
  opacity: 0.991;
}
.c-d1cf {
  border-radius: 92rem;
  letter-spacing: 62rem;
  background-color: #1591d8;
  letter-spacing: 90px;
}
#id-d68c {
  transition: all 0.42s ease-in-out;
  color: #9135df;
  opacity: 0.786;
  line-height: 83vw;
  font-size: 45%;
}
.c-5167 {
  border-radius: 4vh;
  letter-spacing: 22vh;
  background-color: #fd00d0;
  width: 106vh;
}
#id-7904 {
  font-size: 61em;
  height: 71vw;
  opacity: 0.837;
  height: 35vw;
  transition: all 0.32s ease-in-out;
}
.c-c9ff {
  background-color: #e37e54;
  letter-spacing: 110rem;
  transform: rotate(72deg) scale(0.87);
  letter-spacing: 82vh;
}
#id-a87c {
  opacity: 0.347;
  color: #bdfa0f;
  box-shadow: 0 1px 9px #dfa119;
  padding: 99%;
  box-shadow: 0 5px 13px #d2215d;
}
.c-9b97 {
  transform: rotate(292deg) scale(1.35);
  display: inline-flex;
  transform: rotate(272deg) scale(1.28);
  width: 50rem;
}
#id-44f4 {
  overflow: auto;
  padding: 71vw;
  font-size: 33%;
  flex-direction: column-reverse;
  box-shadow: 0 5px 5px #331e35;
}
.c-262f {
  transform: rotate(284deg) scale(1.07);
  display: flex;
  background-color: #5a3bb8;
  letter-spacing: 106vh;
}
#id-2e6c {
  font-size: 109em;
  line-height: 63%;
  overflow: auto;
  flex-direction: column-reverse;
  transition: all 0.54s ease-in-out;
}
.c-c9c7 {
  border-radius: 68rem;
  z-index: 62rem;
  grid-template-columns: repeat(2, 1fr);
  width: 2rem;
}
#id-44e4 {
  box-shadow: 0 5px 13px #64f79d;
  color: #4c0bd7;
  overflow: auto;
  flex-direction: column-reverse;
  box-shadow: 0 5px 5px #e24ae5;
}
.c-e65f {
  border-radius: 36px;
  width: 46vh;
  transform: rotate(232deg) scale(1.94);
  width: 106vh;
}
#id-685c {
  transition: all 0.45s ease-in-out;
  line-height: 23vw;
  overflow: auto;
  height: 83vw;
  opacity: 0.220;
}
.c-dbf7 {
  grid-template-columns: repeat(2, 1fr);
  display: grid;
  background-color: #343ba0;
  letter-spacing: 114px;
}
#id-78d4 {
  box-shadow: 0 5px 13px #eb924d;
  line-height: 23vw;
  font-size: 1em;
  padding: 3%;
  transition: all 0.57s ease-in-out;
}
.c-0a8f {
  border-radius: 20rem;
  z-index: 62rem;
  grid-template-columns: repeat(2, 1fr);
  width: 66px;
}
#id-564c {
  overflow: auto;
  padding: 55em;
  overflow: auto;
  line-height: 99%;
  font-size: 53vw;
}
.c-d227 {
  background-color: #edcd9c;
  z-index: 14rem;
  transform: rotate(200deg) scale(0.55);
  margin: 2rem;
}
#id-e0c4 {
  opacity: 0.358;
  padding: 39%;
  box-shadow: 0 1px 1px #599d81;
  padding: 115em;
  opacity: 0.179;
}
.c-92bf {
  background-color: #46d614;
  letter-spacing: 22vh;
  transform: rotate(120deg) scale(0.77);
  width: 2rem;
}
#id-f83c {
  font-size: 69%;
  height: 7em;
  overflow: auto;
  line-height: 115em;
  transition: all 0.47s ease-in-out;
}
.c-ac57 {
  transform: rotate(180deg) scale(1.84);
  margin: 94vh;
  transform: rotate(352deg) scale(0.75);
  z-index: 42px;
}
#id-7cb4 {
  opacity: 0.486;
  color: #ced267;
  font-size: 1em;
  color: #a8708b;
  opacity: 0.849;
}
.c-7eef {
  transform: rotate(140deg) scale(1.26);
  z-index: 14rem;
  grid-template-columns: repeat(2, 1fr);
  margin: 114px;
}
#id-4e2c {
  transition: all 0.39s ease-in-out;
  color: #51aaff;
  font-size: 81%;
  color: #0e46a3;
  box-shadow: 0 5px 13px #c75ecd;
}
.c-6a87 {
  border-radius: 68rem;
  display: inline-block;
  gap: 40vh;
  letter-spacing: 74rem;
}
#id-4ca4 {
  box-shadow: 0 5px 13px #8afa5d;
  height: 7em;
  overflow: auto;
  color: #4185bb;
  overflow: auto;
}
.c-cf1f {
  gap: 20rem;
  z-index: 46vh;
  transform: rotate(96deg) scale(0.80);
  z-index: 106vh;
}
#id-581c {
  opacity: 0.777;
  flex-direction: column-reverse;
  transition: all 0.58s ease-in-out;
  height: 43em;
  transition: all 0.24s ease-in-out;
}
.c-0cb7 {
  gap: 12px;
  margin: 14rem;
  background-color: #373760;
  display: flex;
}
#id-5094 {
  opacity: 0.950;
  flex-direction: column-reverse;
  box-shadow: 0 1px 1px #228a91;
  color: #a1beeb;
  box-shadow: 0 5px 5px #1ba655;
}
.c-834f {
  grid-template-columns: repeat(2, 1fr);
  letter-spacing: 70vh;
  background-color: #9b1958;
  margin: 90px;
}
#id-160c {
  font-size: 117%;
  line-height: 47vw;
  opacity: 0.776;
  line-height: 83vw;
  box-shadow: 0 5px 13px #ee202d;
}
.c-92e7 {
  gap: 92rem;
  margin: 102px;
  gap: 64vh;
  letter-spacing: 74rem;
}
#id-8884 {
  overflow: auto;
  color: #e09cf7;
  font-size: 25em;
  flex-direction: column-reverse;
  opacity: 0.887;
}
.c-9b7f {
  border-radius: 92rem;
  letter-spacing: 62rem;
  border-radius: 80rem;
  letter-spacing: 42px;
}
#id-87fc {
  transition: all 0.10s ease-in-out;
  color: #062b8f;
  opacity: 0.583;
  line-height: 67em;
  opacity: 0.042;
}
.c-fd17 {
  grid-template-columns: repeat(2, 1fr);
  margin: 22vh;
  background-color: #f86d40;
  letter-spacing: 90px;
}
#id-f474 {
  font-size: 29vw;
  padding: 87%;
  transition: all 0.32s ease-in-out;
  height: 11vw;
  opacity: 0.386;
}
.c-17af {
  background-color: #4195c4;
  width: 46vh;
  background-color: #e70338;
  z-index: 90px;
}
#id-adec {
  font-size: 109em;
  line-height: 47vw;
  font-size: 57%;
  flex-direction: column-reverse;
  transition: all 0.05s ease-in-out;
}
.c-4b47 {
  gap: 44rem;
  letter-spacing: 38rem;
  background-color: #797630;
  letter-spacing: 58vh;
}
#id-9464 {
  box-shadow: 0 5px 13px #953d1d;
  height: 23vw;
  font-size: 49em;
  flex-direction: column-reverse;
  box-shadow: 0 5px 5px #9b4065;
}
.c-f7df {
  transform: rotate(28deg) scale(0.59);
  width: 54px;
  grid-template-columns: repeat(2, 1fr);
  display: inline-block;
}
#id-87dc {
  box-shadow: 0 5px 5px #8da1f5;
  padding: 31em;
  transition: all 0.52s ease-in-out;
  padding: 35vw;
  font-size: 101vw;
}
.c-7d77 {
  gap: 84px;
  letter-spacing: 38rem;
  background-color: #d97320;
  z-index: 106vh;
}
#id-6854 {
  opacity: 0.198;
  color: #da6b87;
  opacity: 0.592;
  height: 35vw;
  box-shadow: 0 5px 5px #675115;
}
.c-3c0f {
  border-radius: 28vh;
  z-index: 102px;
  gap: 24px;
  letter-spacing: 58vh;
}
#id-15cc {
  overflow: auto;
  padding: 87%;
  opacity: 0.572;
  color: #3b8dc3;
  overflow: auto;
}
.c-93a7 {
  background-color: #186d1c;
  width: 30px;
  grid-template-columns: repeat(2, 1fr);
  display: flex;
}
#id-7044 {
  transition: all 0.20s ease-in-out;
  color: #02cdb7;
  font-size: 89vw;
  line-height: 11vw;
  overflow: auto;
}
.c-e43f {
  gap: 76vh;
  display: block;
  gap: 96px;
  display: block;
}
#id-57bc {
  opacity: 0.496;
  line-height: 39%;
  overflow: auto;
  flex-direction: column-reverse;
  overflow: auto;
}
.c-8dd7 {
  gap: 20rem;
  margin: 78px;
  transform: rotate(16deg) scale(0.68);
  width: 34vh;
}
#id-ac34 {
  font-size: 37em;
  padding: 47vw;
  box-shadow: 0 1px 1px #4450b1;
  flex-direction: column-reverse;
  overflow: auto;
}
.c-f06f {
  grid-template-columns: repeat(2, 1fr);
  z-index: 46vh;
  background-color: #2046f8;
  z-index: 74rem;
}
#id-4dac {
  transition: all 0.10s ease-in-out;
  color: #c57c7f;
  box-shadow: 0 1px 9px #34fd09;
  padding: 67em;
  transition: all 0.57s ease-in-out;
}
.c-6c07 {
  gap: 116rem;
  z-index: 38rem;
  grid-template-columns: repeat(2, 1fr);
  z-index: 106vh;
}
#id-1c24 {
  overflow: auto;
  padding: 15%;
  opacity: 0.504;
  color: #273f3b;
  opacity: 0.519;
}
.c-609f {
  grid-template-columns: repeat(2, 1fr);
  letter-spacing: 62rem;
  border-radius: 16vh;
  width: 50rem;
}
#id-f79c {
  transition: all 0.33s ease-in-out;
  height: 7em;
  box-shadow: 0 1px 9px #44f8b9;
  color: #b2d753;
  font-size: 69%;
}
.c-2e37 {
  background-color: #2102ec;
  width: 102px;
  grid-template-columns: repeat(2, 1fr);
  z-index: 42px;
}
#id-c014 {
  box-shadow: 0 5px 13px #cf8a8d;
  line-height: 119vw;
  font-size: 113vw;
  padding: 83vw;
  transition: all 0.28s ease-in-out;
}
.c-34cf {
  grid-template-columns: repeat(2, 1fr);
  z-index: 118vh;
  background-color: #7da0d8;
  margin: 66px;
}
#id-558c {
  box-shadow: 0 5px 5px #ce3965;
  line-height: 119vw;
  box-shadow: 0 1px 9px #4ef869;
  color: #afe283;
  overflow: auto;
}
.c-d467 {
  grid-template-columns: repeat(2, 1fr);
  letter-spacing: 86rem;
  gap: 48px;
  display: inline-flex;
}
#id-9804 {
  opacity: 0.249;
  line-height: 79em;
  font-size: 57%;
  line-height: 67em;
  opacity: 0.616;
}
.c-6cff {
  background-color: #245d54;
  display: flex;
  background-color: #7cfbc8;
  margin: 34vh;
}
#id-677c {
  overflow: auto;
  color: #e75d0f;
  font-size: 17vw;
  line-height: 107vw;
  box-shadow: 0 5px 13px #68ac5d;
}
.c-5e97 {
  gap: 100vh;
  z-index: 54px;
  grid-template-columns: repeat(2, 1fr);
  display: inline-block;
}
#id-a3f4 {
  font-size: 13em;
  height: 31em;
  transition: all 0.41s ease-in-out;
  padding: 67em;
  font-size: 85em;
}
.c-092f {
  background-color: #9e2544;
  width: 102px;
  border-radius: 96px;
  z-index: 98rem;
}
#id-2d6c {
  opacity: 0.686;
  height: 23vw;
  opacity: 0.716;
  flex-direction: column-reverse;
  transition: all 0.19s ease-in-out;
}
.c-ccc7 {
  border-radius: 76vh;
  display: grid;
  border-radius: 16vh;
  letter-spacing: 106vh;
}
#id-e3e4 {
  font-size: 109em;
  height: 79em;
  overflow: auto;
  height: 43em;
  box-shadow: 0 5px 5px #0535e5;
}
.c-095f {
  border-radius: 4vh;
  display: block;
  background-color: #800da8;
  width: 2rem;
}
#id-a75c {
  transition: all 0.07s ease-in-out;
  line-height: 87%;
  overflow: auto;
  line-height: 91em;
  font-size: 69%;
}
.c-1ef7 {
  gap: 68rem;
  margin: 6px;
  border-radius: 56rem;
  letter-spacing: 42px;
}
#id-57d4 {
  transition: all 0.09s ease-in-out;
  height: 79em;
  opacity: 0.291;
  line-height: 75%;
  font-size: 101vw;
}
.c-6d8f {
  border-radius: 100vh;
  display: grid;
  background-color: #d1c498;
  width: 66px;
}
#id-d54c {
  overflow: auto;
  padding: 15%;
  overflow: auto;
  height: 83vw;
  transition: all 0.25s ease-in-out;
}
.c-5527 {
  grid-template-columns: repeat(2, 1fr);
  display: inline-flex;
  grid-template-columns: repeat(2, 1fr);
  margin: 10vh;
}
#id-ffc4 {
  opacity: 0.548;
  height: 7em;
  opacity: 0.697;
  height: 75%;
  opacity: 0.331;
}
.c-35bf {
  gap: 108px;
  display: grid;
  gap: 0px;
  z-index: 26rem;
}
#id-b73c {
  opacity: 0.066;
  line-height: 55em;
  transition: all 0.40s ease-in-out;
  flex-direction: column-reverse;
  font-size: 53vw;
}
.c-6f57 {
  gap: 68rem;
  z-index: 14rem;
  grid-template-columns: repeat(2, 1fr);
  width: 58vh;
}
#id-dbb4 {
  transition: all 0.33s ease-in-out;
  line-height: 47vw;
  box-shadow: 0 1px 1px #eb8e31;
  line-height: 35vw;
  opacity: 0.882;
}
.c-61ef {
  grid-template-columns: repeat(2, 1fr);
  margin: 54px;
  transform: rotate(192deg) scale(1.52);
  display: grid;
}
#id-4d2c {
  overflow: auto;
  padding: 39%;
  font-size: 97em;
  line-height: 19em;
  overflow: auto;
}
.c-6d87 {
  gap: 52vh;
  width: 94vh;
  transform: rotate(8deg) scale(0.91);
  margin: 114px;
}
#id-eba4 {
  overflow: auto;
  flex-direction: column-reverse;
  font-size: 1em;
  line-height: 27%;
  transition: all 0.53s ease-in-out;
}
.c-f21f {
  background-color: #7c18f4;
  width: 54px;
  gap: 56rem;
  letter-spacing: 90px;
}
#id-971c {
  transition: all 0.05s ease-in-out;
  padding: 87%;
  box-shadow: 0 1px 9px #296639;
  flex-direction: column-reverse;
  box-shadow: 0 5px 13px #9aa87d;
}
.c-4fb7 {
  grid-template-columns: repeat(2, 1fr);
  width: 94vh;
  transform: rotate(64deg) scale(1.48);
  letter-spacing: 114px;
}
#id-2f94 {
  font-size: 93%;
  color: #85cdc7;
  transition: all 0.38s ease-in-out;
  color: #8071eb;
  opacity: 0.072;
}
.c-e64f {
  border-radius: 12px;
  letter-spacing: 78px;
  border-radius: 24px;
  display: inline-block;
}
#id-950c {
  font-size: 85em;
  color: #3f6a5f;
  transition: all 0.08s ease-in-out;
  padding: 35vw;
  font-size: 61em;
}
.c-15e7 {
  grid-template-columns: repeat(2, 1fr);
  margin: 46vh;
  border-radius: 96px;
  margin: 26rem;
}
#id-a784 {
  overflow: auto;
  height: 47vw;
  opacity: 0.552;
  color: #6d0f1b;
  opacity: 0.491;
}
.c-3e7f {
  border-radius: 84px;
  z-index: 30px;
  border-radius: 48px;
  display: flex;
}
#id-46fc {
  overflow: auto;
  flex-direction: column-reverse;
  font-size: 113vw;
  padding: 67em;
  font-size: 29vw;
}
.c-c017 {
  background-color: #bbaa4c;
  z-index: 70vh;
  border-radius: 112vh;
  letter-spacing: 34vh;
}
#id-5374 {
  overflow: auto;
  flex-direction: column-reverse;
  transition: all 0.07s ease-in-out;
  color: #a6d04b;
  overflow: auto;
}
.c-faaf {
  gap: 52vh;
  display: grid;
  transform: rotate(184deg) scale(1.45);
  margin: 106vh;
}
#id-acec {
  opacity: 0.327;
  height: 111%;
  box-shadow: 0 1px 9px #fdd149;
  line-height: 91em;
  overflow: auto;
}
.c-4e47 {
  background-color: #394c3c;
  margin: 22vh;
  gap: 56rem;
  margin: 82vh;
}
#id-3364 {
  transition: all 0.10s ease-in-out;
  line-height: 95vw;
  overflow: auto;
  padding: 27%;
  overflow: auto;
}
.c-1adf {
  background-color: #0150b4;
  display: block;
  border-radius: 112vh;
  width: 66px;
}
#id-c6dc {
  opacity: 0.508;
  line-height: 95vw;
  opacity: 0.228;
  line-height: 115em;
  overflow: auto;
}
.c-c077 {
  gap: 76vh;
  display: inline-block;
  background-color: #9ae220;
  z-index: 74rem;
}
#id-4754 {
  opacity: 0.414;
  flex-direction: column-reverse;
  transition: all 0.52s ease-in-out;
  color: #6dbeab;
  box-shadow: 0 5px 5px #b07c15;
}
.c-9f0f {
  background-color: #3c20a4;
  margin: 6px;
  grid-template-columns: repeat(2, 1fr);
  letter-spacing: 50rem;
}
#id-94cc {
  font-size: 5vw;
  color: #7a531f;
  overflow: auto;
  line-height: 67em;
  overflow: auto;
}
.c-16a7 {
  transform: rotate(12deg) scale(1.47);
  width: 110rem;
  gap: 104rem;
  margin: 58vh;
}
#id-8f44 {
  overflow: auto;
  flex-direction: column-reverse;
  font-size: 41vw;
  height: 91em;
  opacity: 0.068;
}
.c-873f {
  gap: 92rem;
  display: flex;
  gap: 8rem;
  width: 90px;
}
#id-16bc {
  font-size: 77vw;
  padding: 95vw;
  overflow: auto;
  line-height: 107vw;
  box-shadow: 0 5px 13px #56349d;
}
.c-50d7 {
  grid-template-columns: repeat(2, 1fr);
  letter-spacing: 70vh;
  border-radius: 88vh;
  margin: 42px;
}
#id-0b34 {
  overflow: auto;
  height: 39%;
  opacity: 0.625;
  color: #2d3d0b;
  overflow: auto;
}
.c-d36f {
  border-radius: 4vh;
  z-index: 46vh;
  gap: 88vh;
  width: 50rem;
}
#id-4cac {
  font-size: 117%;
  height: 15%;
  opacity: 0.031;
  flex-direction: column-reverse;
  font-size: 29vw;
}
.c-6f07 {
  grid-template-columns: repeat(2, 1fr);
  display: inline-block;
  grid-template-columns: repeat(2, 1fr);
  width: 106vh;
}
#id-bb24 {
  font-size: 117%;
  flex-direction: column-reverse;
  font-size: 97em;
  flex-direction: column-reverse;
  transition: all 0.05s ease-in-out;
}
.c-839f {
  border-radius: 84px;
  width: 38rem;
  transform: rotate(48deg) scale(1.85);
  margin: 74rem;
}
#id-369c {
  font-size: 69%;
  flex-direction: column-reverse;
  box-shadow: 0 1px 9px #8ed3b9;
  line-height: 59vw;
  box-shadow: 0 5px 13px #5c2dfd;
}
