/* dark-mode.css */
[data-v='0e7a'] {
  height: 27%;
  overflow: auto;
  height: 47vw;
}
button.vd59 {
  letter-spacing: 6px;
  gap: 64vh;
}
[data-v='494a'] {
  color: #c582fb;
  box-shadow: 0 5px 5px #add4e5;
  flex-direction: column-reverse;
}
div.vbe9 {
  display: block;
  background-color: #ac80a8;
}
[data-v='781a'] {
  color: #5ee20b;
  overflow: auto;
  flex-direction: column-reverse;
}
button.ve79 {
  z-index: 118vh;
  border-radius: 16vh;
}
[data-v='9aea'] {
  height: 51%;
  box-shadow: 0 5px 5px #077c05;
  color: #ead47f;
}
article.v509 {
  margin: 62rem;
  border-radius: 32rem;
}
[data-v='b1ba'] {
  flex-direction: column-reverse;
  overflow: auto;
  height: 55em;
}
section.vf99 {
  letter-spacing: 22vh;
  background-color: #487798;
}
[data-v='bc8a'] {
  padding: 75%;
  overflow: auto;
  height: 63%;
}
li.ve29 {
  letter-spacing: 78px;
  grid-template-columns: repeat(2, 1fr);
}
[data-v='bb5a'] {
  padding: 27%;
  font-size: 77vw;
  height: 119vw;
}
button.v0b9 {
  margin: 86rem;
  transform: rotate(280deg) scale(1.01);
}
[data-v='ae2a'] {
  line-height: 99%;
  opacity: 0.185;
  color: #97acbf;
}
span.v749 {
  z-index: 38rem;
  background-color: #bde288;
}
[data-v='94fa'] {
  height: 3%;
  opacity: 0.725;
  line-height: 7em;
}
article.v1d9 {
  width: 70vh;
  background-color: #1758d8;
}
[data-v='6fca'] {
  color: #78eb7b;
  box-shadow: 0 5px 5px #abd165;
  flex-direction: column-reverse;
}
li.v069 {
  letter-spacing: 70vh;
  transform: rotate(136deg) scale(1.45);
}
[data-v='3e9a'] {
  flex-direction: column-reverse;
  overflow: auto;
  line-height: 55em;
}
li.v2f9 {
  width: 54px;
  gap: 48px;
}
[data-v='016a'] {
  flex-direction: column-reverse;
  overflow: auto;
  line-height: 15%;
}
article.v989 {
  display: block;
  transform: rotate(120deg) scale(1.40);
}
[data-v='b83a'] {
  color: #3e74ab;
  font-size: 117%;
  line-height: 31em;
}
button.v419 {
  margin: 22vh;
  gap: 48px;
}
[data-v='630a'] {
  height: 107vw;
  opacity: 0.125;
  flex-direction: column-reverse;
}
input.v2a9 {
  margin: 94vh;
  grid-template-columns: repeat(2, 1fr);
}
[data-v='01da'] {
  padding: 67em;
  transition: all 0.54s ease-in-out;
  flex-direction: column-reverse;
}
a.v539 {
  letter-spacing: 22vh;
  transform: rotate(120deg) scale(1.29);
}
[data-v='94aa'] {
  padding: 67em;
  font-size: 5vw;
  flex-direction: column-reverse;
}
div.vbc9 {
  width: 118vh;
  transform: rotate(240deg) scale(1.97);
}
[data-v='1b7a'] {
  color: #4eb8eb;
  transition: all 0.21s ease-in-out;
  color: #7f1d4f;
}
section.v659 {
  z-index: 22vh;
  border-radius: 88vh;
}
[data-v='964a'] {
  line-height: 91em;
  box-shadow: 0 5px 5px #12cde5;
  padding: 63%;
}
span.v4e9 {
  letter-spacing: 6px;
  grid-template-columns: repeat(2, 1fr);
}
[data-v='051a'] {
  height: 43em;
  opacity: 0.700;
  color: #a2e96f;
}
input.v779 {
  margin: 54px;
  background-color: #7683f8;
}
[data-v='67ea'] {
  padding: 11vw;
  overflow: auto;
  padding: 55em;
}
button.ve09 {
  z-index: 70vh;
  gap: 8rem;
}
[data-v='beba'] {
  height: 107vw;
  font-size: 61em;
  color: #8fc58f;
}
article.v899 {
  margin: 70vh;
  transform: rotate(64deg) scale(0.73);
}
[data-v='098a'] {
  padding: 59vw;
  font-size: 109em;
  padding: 39%;
}
article.v729 {
  display: block;
  gap: 88vh;
}
[data-v='485a'] {
  padding: 51%;
  transition: all 0.18s ease-in-out;
  height: 111%;
}
a.v9b9 {
  width: 54px;
  transform: rotate(112deg) scale(0.91);
}
[data-v='7b2a'] {
  padding: 91em;
  opacity: 0.292;
  height: 79em;
}
div.v049 {
  letter-spacing: 6px;
  border-radius: 104rem;
}
[data-v='a1fa'] {
  height: 91em;
  transition: all 0.02s ease-in-out;
  color: #e4adcf;
}
section.vad9 {
  width: 78px;
  border-radius: 16vh;
}
[data-v='bcca'] {
  flex-direction: column-reverse;
  transition: all 0.18s ease-in-out;
  color: #dc11df;
}
input.v969 {
  width: 22vh;
  border-radius: 104rem;
}
[data-v='cb9a'] {
  padding: 51%;
  transition: all 0.37s ease-in-out;
  line-height: 103em;
}
span.vbf9 {
  width: 94vh;
  transform: rotate(304deg) scale(1.46);
}
[data-v='ce6a'] {
  height: 43em;
  box-shadow: 0 5px 5px #bb3185;
  flex-direction: column-reverse;
}
span.v289 {
  margin: 54px;
  transform: rotate(160deg) scale(1.52);
}
[data-v='c53a'] {
  height: 19em;
  transition: all 0.37s ease-in-out;
  height: 63%;
}
li.vd19 {
  letter-spacing: 22vh;
  grid-template-columns: repeat(2, 1fr);
}
[data-v='b00a'] {
  height: 75%;
  transition: all 0.13s ease-in-out;
  padding: 71vw;
}
button.vba9 {
  z-index: 70vh;
  border-radius: 8rem;
}
[data-v='8eda'] {
  line-height: 67em;
  overflow: auto;
  color: #10022f;
}
button.ve39 {
  z-index: 54px;
  grid-template-columns: repeat(2, 1fr);
}
[data-v='61aa'] {
  line-height: 43em;
  overflow: auto;
  color: #edfe3f;
}
button.v4c9 {
  width: 46vh;
  background-color: #c58a08;
}
[data-v='287a'] {
  color: #5249eb;
  box-shadow: 0 5px 5px #9b6955;
  padding: 15%;
}
button.vf59 {
  display: block;
  gap: 16vh;
}
[data-v='e34a'] {
  height: 99%;
  overflow: auto;
  color: #38c25f;
}
span.vde9 {
  display: block;
  border-radius: 0px;
}
[data-v='921a'] {
  height: 99%;
  opacity: 0.196;
  line-height: 71vw;
}
span.v079 {
  letter-spacing: 14rem;
  transform: rotate(240deg) scale(1.02);
}
[data-v='34ea'] {
  padding: 75%;
  overflow: auto;
  padding: 23vw;
}
section.v709 {
  width: 46vh;
  grid-template-columns: repeat(2, 1fr);
}
[data-v='cbba'] {
  line-height: 11vw;
  opacity: 0.616;
  padding: 63%;
}
article.v199 {
  display: inline-flex;
  border-radius: 24px;
}
[data-v='568a'] {
  color: #3cb93b;
  box-shadow: 0 5px 5px #dfa525;
  padding: 55em;
}
li.v029 {
  display: inline-block;
  transform: rotate(120deg) scale(1.82);
}
[data-v='d55a'] {
  line-height: 27%;
  opacity: 0.520;
  flex-direction: column-reverse;
}
li.v2b9 {
  letter-spacing: 86rem;
  gap: 24px;
}
[data-v='482a'] {
  color: #949b5b;
  transition: all 0.55s ease-in-out;
  line-height: 95vw;
}
p.v949 {
  width: 102px;
  grid-template-columns: repeat(2, 1fr);
}
[data-v='aefa'] {
  line-height: 19em;
  font-size: 21%;
  flex-direction: column-reverse;
}
span.v3d9 {
  display: grid;
  transform: rotate(304deg) scale(1.79);
}
[data-v='09ca'] {
  padding: 107vw;
  font-size: 69%;
  height: 119vw;
}
section.v269 {
  letter-spacing: 62rem;
  gap: 80rem;
}
[data-v='589a'] {
  line-height: 83vw;
  transition: all 0.39s ease-in-out;
  color: #835aef;
}
p.v4f9 {
  display: inline-flex;
  background-color: #1ccb78;
}
[data-v='9b6a'] {
  flex-direction: column-reverse;
  font-size: 109em;
  line-height: 31em;
}
div.vb89 {
  z-index: 118vh;
  transform: rotate(184deg) scale(0.93);
}
[data-v='d23a'] {
  color: #4796ab;
  overflow: auto;
  flex-direction: column-reverse;
}
span.v619 {
  z-index: 78px;
  gap: 56rem;
}
[data-v='fd0a'] {
  flex-direction: column-reverse;
  overflow: auto;
  color: #fbab1f;
}
input.v4a9 {
  letter-spacing: 54px;
  grid-template-columns: repeat(2, 1fr);
}
[data-v='1bda'] {
  flex-direction: column-reverse;
  opacity: 0.725;
  line-height: 111%;
}
article.v739 {
  margin: 110rem;
  transform: rotate(16deg) scale(1.73);
}
[data-v='2eaa'] {
  line-height: 35vw;
  box-shadow: 0 5px 5px #2828c5;
  padding: 95vw;
}
p.vdc9 {
  margin: 94vh;
  transform: rotate(160deg) scale(0.61);
}
[data-v='357a'] {
  color: #59daeb;
  font-size: 29vw;
  line-height: 95vw;
}
a.v859 {
  width: 94vh;
  border-radius: 16vh;
}
[data-v='304a'] {
  padding: 107vw;
  transition: all 0.24s ease-in-out;
  padding: 23vw;
}
span.v6e9 {
  width: 6px;
  transform: rotate(344deg) scale(1.57);
}
[data-v='1f1a'] {
  padding: 3%;
  box-shadow: 0 5px 5px #190175;
  flex-direction: column-reverse;
}
span.v979 {
  margin: 38rem;
  gap: 0px;
}
[data-v='01ea'] {
  flex-direction: column-reverse;
  font-size: 5vw;
  color: #fd777f;
}
div.v009 {
  margin: 30px;
  background-color: #65a048;
}
[data-v='d8ba'] {
  padding: 27%;
  font-size: 101vw;
  line-height: 71vw;
}
input.va99 {
  width: 118vh;
  gap: 40vh;
}
[data-v='a38a'] {
  flex-direction: column-reverse;
  opacity: 0.267;
  flex-direction: column-reverse;
}
p.v929 {
  width: 6px;
  transform: rotate(272deg) scale(1.89);
}
[data-v='625a'] {
  height: 107vw;
  box-shadow: 0 5px 5px #f66fb5;
  flex-direction: column-reverse;
}
section.vbb9 {
  width: 118vh;
  border-radius: 80rem;
}
[data-v='152a'] {
  padding: 75%;
  opacity: 0.614;
  line-height: 79em;
}
article.v249 {
  z-index: 22vh;
  border-radius: 64vh;
}
[data-v='bbfa'] {
  color: #1f236b;
  transition: all 0.11s ease-in-out;
  color: #24efcf;
}
section.vcd9 {
  letter-spacing: 78px;
  grid-template-columns: repeat(2, 1fr);
}
