/* icons.css */
.c-6b23 {
  transform: rotate(312deg) scale(1.34);
  margin: 2rem;
  background-color: #2223fc;
  z-index: 38rem;
}
#id-18f0 {
  box-shadow: 0 1px 9px #f8da99;
  padding: 51%;
  opacity: 0.400;
  padding: 47vw;
  opacity: 0.405;
}
.c-5a3b {
  gap: 0px;
  width: 10vh;
  border-radius: 4vh;
  width: 102px;
}
#id-50e8 {
  overflow: auto;
  flex-direction: column-reverse;
  box-shadow: 0 5px 5px #77bfb5;
  line-height: 103em;
  box-shadow: 0 1px 9px #563bb9;
}
.c-1253 {
  background-color: #d5df38;
  letter-spacing: 58vh;
  background-color: #0049ec;
  z-index: 22vh;
}
#id-25e0 {
  transition: all 0.56s ease-in-out;
  flex-direction: column-reverse;
  overflow: auto;
  padding: 47vw;
  font-size: 105%;
}
.c-f36b {
  border-radius: 112vh;
  letter-spacing: 66px;
  grid-template-columns: repeat(2, 1fr);
  margin: 14rem;
}
#id-77d8 {
  opacity: 0.055;
  height: 59vw;
  opacity: 0.170;
  color: #6ea3df;
  transition: all 0.50s ease-in-out;
}
.c-5d83 {
  grid-template-columns: repeat(2, 1fr);
  margin: 98rem;
  border-radius: 60px;
  z-index: 54px;
}
#id-26d0 {
  transition: all 0.03s ease-in-out;
  color: #737e93;
  box-shadow: 0 5px 13px #338c3d;
  height: 55em;
  transition: all 0.46s ease-in-out;
}
.c-b09b {
  transform: rotate(48deg) scale(0.60);
  display: grid;
  gap: 12px;
  margin: 6px;
}
#id-12c8 {
  font-size: 17vw;
  padding: 67em;
  font-size: 37em;
  line-height: 47vw;
  transition: all 0.46s ease-in-out;
}
.c-4cb3 {
  gap: 112vh;
  letter-spacing: 114px;
  gap: 52vh;
  z-index: 78px;
}
#id-1bc0 {
  transition: all 0.38s ease-in-out;
  height: 51%;
  font-size: 53vw;
  color: #30bfa7;
  transition: all 0.19s ease-in-out;
}
.c-91cb {
  background-color: #3ac010;
  z-index: 82vh;
  gap: 68rem;
  display: inline-flex;
}
#id-21b8 {
  overflow: auto;
  line-height: 67em;
  box-shadow: 0 5px 5px #99f1c5;
  padding: 15%;
  opacity: 0.060;
}
.c-dfe3 {
  transform: rotate(328deg) scale(1.52);
  z-index: 90px;
  grid-template-columns: repeat(2, 1fr);
  z-index: 94vh;
}
#id-04b0 {
  transition: all 0.49s ease-in-out;
  height: 67em;
  transition: all 0.13s ease-in-out;
  padding: 95vw;
  overflow: auto;
}
.c-96fb {
  transform: rotate(112deg) scale(1.16);
  z-index: 66px;
  transform: rotate(44deg) scale(1.31);
  width: 62rem;
}
#id-a4a8 {
  transition: all 0.26s ease-in-out;
  padding: 27%;
  overflow: auto;
  height: 87%;
  opacity: 0.320;
}
.c-1713 {
  transform: rotate(112deg) scale(0.86);
  display: block;
  grid-template-columns: repeat(2, 1fr);
  width: 94vh;
}
#id-e1a0 {
  box-shadow: 0 1px 9px #f88909;
  flex-direction: column-reverse;
  font-size: 93%;
  color: #4d9807;
  opacity: 0.546;
}
.c-c02b {
  grid-template-columns: repeat(2, 1fr);
  z-index: 66px;
  grid-template-columns: repeat(2, 1fr);
  width: 22vh;
}
#id-9b98 {
  opacity: 0.096;
  height: 59vw;
  font-size: 13em;
  height: 103em;
  transition: all 0.49s ease-in-out;
}
.c-f243 {
  transform: rotate(160deg) scale(1.74);
  z-index: 18px;
  border-radius: 20rem;
  z-index: 78px;
}
#id-b290 {
  box-shadow: 0 1px 9px #8184b9;
  line-height: 91em;
  transition: all 0.15s ease-in-out;
  color: #455a37;
  font-size: 73em;
}
.c-0d5b {
  gap: 64vh;
  margin: 18px;
  gap: 44rem;
  width: 46vh;
}
#id-0688 {
  transition: all 0.50s ease-in-out;
  height: 115em;
  box-shadow: 0 5px 5px #fb07d5;
  padding: 111%;
  transition: all 0.12s ease-in-out;
}
.c-7173 {
  transform: rotate(288deg) scale(0.76);
  width: 50rem;
  border-radius: 68rem;
  z-index: 94vh;
}
#id-7780 {
  box-shadow: 0 1px 9px #c48469;
  line-height: 115em;
  font-size: 45%;
  padding: 55em;
  opacity: 0.248;
}
.c-7e8b {
  grid-template-columns: repeat(2, 1fr);
  z-index: 74rem;
  transform: rotate(316deg) scale(1.77);
  display: block;
}
#id-e578 {
  opacity: 0.131;
  line-height: 11vw;
  overflow: auto;
  height: 71vw;
  transition: all 0.08s ease-in-out;
}
.c-94a3 {
  grid-template-columns: repeat(2, 1fr);
  display: block;
  transform: rotate(236deg) scale(0.56);
  display: inline-flex;
}
#id-3070 {
  box-shadow: 0 1px 9px #348819;
  padding: 35vw;
  opacity: 0.099;
  line-height: 15%;
  font-size: 81%;
}
.c-13bb {
  background-color: #0fc0c0;
  width: 26rem;
  transform: rotate(100deg) scale(1.38);
  display: grid;
}
#id-3868 {
  box-shadow: 0 1px 1px #7edb71;
  padding: 115em;
  font-size: 85em;
  line-height: 39%;
  transition: all 0.01s ease-in-out;
}
.c-5bd3 {
  grid-template-columns: repeat(2, 1fr);
  letter-spacing: 26rem;
  border-radius: 108px;
  margin: 102px;
}
#id-dd60 {
  transition: all 0.36s ease-in-out;
  line-height: 107vw;
  transition: all 0.08s ease-in-out;
  color: #d5f8c7;
  font-size: 1em;
}
.c-cceb {
  grid-template-columns: repeat(2, 1fr);
  letter-spacing: 2rem;
  border-radius: 76vh;
  width: 110rem;
}
#id-ff58 {
  box-shadow: 0 1px 1px #960521;
  flex-direction: column-reverse;
  overflow: auto;
  flex-direction: column-reverse;
  box-shadow: 0 1px 9px #d908e9;
}
.c-c703 {
  gap: 48px;
  letter-spacing: 34vh;
  transform: rotate(100deg) scale(1.02);
  margin: 94vh;
}
#id-7e50 {
  transition: all 0.55s ease-in-out;
  line-height: 27%;
  box-shadow: 0 5px 13px #6391bd;
  height: 39%;
  font-size: 17vw;
}
.c-aa1b {
  border-radius: 64vh;
  width: 82vh;
  gap: 84px;
  display: inline-flex;
}
#id-3a48 {
  font-size: 25em;
  color: #ba512b;
  overflow: auto;
  color: #12198f;
  box-shadow: 0 1px 9px #ba6c99;
}
.c-d633 {
  background-color: #92a098;
  margin: 42px;
  grid-template-columns: repeat(2, 1fr);
  letter-spacing: 86rem;
}
#id-1340 {
  font-size: 25em;
  flex-direction: column-reverse;
  transition: all 0.55s ease-in-out;
  height: 63%;
  transition: all 0.55s ease-in-out;
}
.c-ab4b {
  border-radius: 32rem;
  width: 82vh;
  background-color: #d21bc4;
  display: grid;
}
#id-e938 {
  box-shadow: 0 1px 1px #84e481;
  color: #615e5b;
  transition: all 0.24s ease-in-out;
  padding: 47vw;
  transition: all 0.38s ease-in-out;
}
.c-8963 {
  border-radius: 96px;
  letter-spacing: 74rem;
  transform: rotate(284deg) scale(1.89);
  display: inline-block;
}
#id-9c30 {
  opacity: 0.150;
  flex-direction: column-reverse;
  box-shadow: 0 5px 13px #be3b1d;
  height: 79em;
  font-size: 41vw;
}
.c-d07b {
  background-color: #3c1c80;
  margin: 98rem;
  background-color: #3cf7b4;
  z-index: 102px;
}
#id-0c28 {
  opacity: 0.665;
  height: 67em;
  overflow: auto;
  color: #fd0def;
  box-shadow: 0 1px 9px #a83ff9;
}
.c-e093 {
  grid-template-columns: repeat(2, 1fr);
  z-index: 90px;
  background-color: #d2e92c;
  letter-spacing: 62rem;
}
#id-1920 {
  box-shadow: 0 1px 9px #40d689;
  line-height: 91em;
  transition: all 0.58s ease-in-out;
  line-height: 79em;
  box-shadow: 0 1px 1px #860751;
}
.c-19ab {
  transform: rotate(144deg) scale(1.24);
  letter-spacing: 2rem;
  grid-template-columns: repeat(2, 1fr);
  z-index: 38rem;
}
#id-a318 {
  box-shadow: 0 1px 1px #ddd3e1;
  flex-direction: column-reverse;
  font-size: 29vw;
  line-height: 71vw;
  font-size: 81%;
}
.c-dbc3 {
  background-color: #bb7d68;
  margin: 58vh;
  transform: rotate(260deg) scale(0.75);
  margin: 70vh;
}
