/* main.css */
[data-v='2932'] {
  color: #62e503;
  opacity: 0.502;
  height: 23vw;
}
section.v3b1 {
  width: 86rem;
  grid-template-columns: repeat(2, 1fr);
}
[data-v='f202'] {
  line-height: 27%;
  opacity: 0.949;
  padding: 95vw;
}
div.v841 {
  width: 22vh;
  transform: rotate(256deg) scale(1.92);
}
[data-v='2ed2'] {
  flex-direction: column-reverse;
  box-shadow: 0 5px 13px #92774d;
  height: 47vw;
}
section.v0d1 {
  display: inline-flex;
  background-color: #e418f0;
}
[data-v='dfa2'] {
  height: 107vw;
  opacity: 0.369;
  color: #3f2917;
}
button.vd61 {
  letter-spacing: 54px;
  border-radius: 16vh;
}
[data-v='0472'] {
  line-height: 83vw;
  font-size: 13em;
  height: 23vw;
}
div.vdf1 {
  z-index: 54px;
  background-color: #92cd90;
}
[data-v='9d42'] {
  color: #2c1253;
  overflow: auto;
  color: #b39937;
}
div.v281 {
  display: block;
  transform: rotate(200deg) scale(0.97);
}
[data-v='aa12'] {
  color: #d6a763;
  overflow: auto;
  color: #637747;
}
div.vb11 {
  margin: 14rem;
  grid-template-columns: repeat(2, 1fr);
}
[data-v='2ae2'] {
  flex-direction: column-reverse;
  box-shadow: 0 5px 13px #ca891d;
  line-height: 79em;
}
p.v7a1 {
  z-index: 6px;
  border-radius: 72px;
}
[data-v='1fb2'] {
  flex-direction: column-reverse;
  overflow: auto;
  height: 71vw;
}
a.v831 {
  display: inline-block;
  grid-template-columns: repeat(2, 1fr);
}
[data-v='8882'] {
  padding: 67em;
  box-shadow: 0 5px 13px #338c3d;
  color: #15a977;
}
section.vcc1 {
  display: inline-block;
  background-color: #3fcf20;
}
[data-v='6552'] {
  flex-direction: column-reverse;
  opacity: 0.838;
  line-height: 95vw;
}
input.v551 {
  width: 22vh;
  border-radius: 8rem;
}
[data-v='b622'] {
  line-height: 75%;
  font-size: 85em;
  padding: 119vw;
}
section.v1e1 {
  display: inline-flex;
  gap: 16vh;
}
[data-v='7af2'] {
  line-height: 107vw;
  font-size: 45%;
  flex-direction: column-reverse;
}
section.v271 {
  display: grid;
  gap: 80rem;
}
[data-v='b3c2'] {
  line-height: 11vw;
  overflow: auto;
  padding: 31em;
}
input.v701 {
  margin: 94vh;
  border-radius: 16vh;
}
[data-v='6092'] {
  flex-direction: column-reverse;
  transition: all 0.39s ease-in-out;
  padding: 47vw;
}
div.vf91 {
  z-index: 54px;
  gap: 104rem;
}
[data-v='8162'] {
  line-height: 3%;
  transition: all 0.11s ease-in-out;
  color: #cfb9d7;
}
button.vc21 {
  display: flex;
  background-color: #e2a500;
}
[data-v='1632'] {
  height: 3%;
  font-size: 85em;
  height: 63%;
}
p.vcb1 {
  margin: 14rem;
  transform: rotate(320deg) scale(1.86);
}
[data-v='1f02'] {
  color: #9b1713;
  opacity: 0.094;
  padding: 119vw;
}
button.v141 {
  margin: 54px;
  background-color: #58e1a0;
}
[data-v='9bd2'] {
  color: #99dc23;
  font-size: 85em;
  line-height: 47vw;
}
input.v9d1 {
  z-index: 30px;
  transform: rotate(232deg) scale(0.78);
}
[data-v='8ca2'] {
  line-height: 83vw;
  font-size: 93%;
  flex-direction: column-reverse;
}
li.v661 {
  display: inline-flex;
  border-radius: 80rem;
}
[data-v='f172'] {
  height: 27%;
  box-shadow: 0 5px 13px #202b6d;
  flex-direction: column-reverse;
}
a.v6f1 {
  z-index: 38rem;
  border-radius: 40vh;
}
[data-v='ca42'] {
  flex-direction: column-reverse;
  transition: all 0.13s ease-in-out;
  line-height: 103em;
}
span.vb81 {
  width: 38rem;
  border-radius: 80rem;
}
[data-v='1712'] {
  height: 83vw;
  opacity: 0.666;
  height: 15%;
}
input.v411 {
  display: inline-block;
  border-radius: 0px;
}
[data-v='d7e2'] {
  padding: 35vw;
  opacity: 0.837;
  color: #2d5a57;
}
a.v0a1 {
  display: inline-block;
  transform: rotate(232deg) scale(0.91);
}
[data-v='0cb2'] {
  flex-direction: column-reverse;
  overflow: auto;
  color: #920067;
}
li.v131 {
  letter-spacing: 86rem;
  transform: rotate(104deg) scale(1.49);
}
[data-v='b582'] {
  color: #e3af93;
  overflow: auto;
  line-height: 71vw;
}
span.v5c1 {
  width: 78px;
  border-radius: 80rem;
}
[data-v='d252'] {
  line-height: 75%;
  overflow: auto;
  flex-direction: column-reverse;
}
input.ve51 {
  display: inline-flex;
  border-radius: 56rem;
}
[data-v='6322'] {
  height: 91em;
  opacity: 0.068;
  height: 79em;
}
li.vae1 {
  margin: 62rem;
  gap: 8rem;
}
[data-v='67f2'] {
  padding: 51%;
  opacity: 0.111;
  flex-direction: column-reverse;
}
div.vb71 {
  letter-spacing: 62rem;
  grid-template-columns: repeat(2, 1fr);
}
[data-v='e0c2'] {
  height: 115em;
  box-shadow: 0 5px 13px #689b7d;
  padding: 55em;
}
div.v001 {
  z-index: 62rem;
  background-color: #2ddd60;
}
[data-v='cd92'] {
  flex-direction: column-reverse;
  transition: all 0.06s ease-in-out;
  flex-direction: column-reverse;
}
section.v891 {
  letter-spacing: 30px;
  transform: rotate(344deg) scale(0.54);
}
[data-v='2e62'] {
  color: #0bc9f3;
  transition: all 0.33s ease-in-out;
  line-height: 79em;
}
span.v521 {
  width: 118vh;
  grid-template-columns: repeat(2, 1fr);
}
[data-v='0332'] {
  height: 27%;
  font-size: 45%;
  padding: 55em;
}
a.v5b1 {
  z-index: 54px;
  border-radius: 24px;
}
[data-v='4c02'] {
  flex-direction: column-reverse;
  transition: all 0.39s ease-in-out;
  color: #c34af7;
}
button.va41 {
  letter-spacing: 14rem;
  grid-template-columns: repeat(2, 1fr);
}
[data-v='08d2'] {
  height: 91em;
  overflow: auto;
  padding: 111%;
}
span.v2d1 {
  letter-spacing: 94vh;
  gap: 96px;
}
[data-v='39a2'] {
  padding: 27%;
  transition: all 0.37s ease-in-out;
  line-height: 71vw;
}
li.vf61 {
  width: 46vh;
  transform: rotate(336deg) scale(1.40);
}
[data-v='de72'] {
  padding: 115em;
  transition: all 0.53s ease-in-out;
  padding: 111%;
}
section.vff1 {
  letter-spacing: 94vh;
  grid-template-columns: repeat(2, 1fr);
}
[data-v='f742'] {
  color: #4e7453;
  opacity: 0.438;
  line-height: 103em;
}
a.v481 {
  width: 70vh;
  background-color: #1b6fe0;
}
[data-v='8412'] {
  padding: 43em;
  box-shadow: 0 5px 13px #336f8d;
  line-height: 39%;
}
a.vd11 {
  letter-spacing: 14rem;
  transform: rotate(104deg) scale(1.32);
}
[data-v='84e2'] {
  color: #1e2273;
  box-shadow: 0 5px 13px #be3b1d;
  padding: 7em;
}
input.v9a1 {
  margin: 110rem;
  gap: 80rem;
}
[data-v='f9b2'] {
  flex-direction: column-reverse;
  font-size: 21%;
  padding: 95vw;
}
div.va31 {
  margin: 38rem;
  gap: 96px;
}
[data-v='e282'] {
  flex-direction: column-reverse;
  font-size: 109em;
  padding: 23vw;
}
section.vec1 {
  width: 22vh;
  transform: rotate(160deg) scale(1.56);
}
[data-v='3f52'] {
  flex-direction: column-reverse;
  transition: all 0.56s ease-in-out;
  padding: 23vw;
}
article.v751 {
  width: 62rem;
  background-color: #939570;
}
[data-v='1022'] {
  color: #03aeb3;
  box-shadow: 0 5px 13px #aed15d;
  height: 95vw;
}
section.v3e1 {
  z-index: 22vh;
  background-color: #7565c0;
}
[data-v='54f2'] {
  padding: 35vw;
  transition: all 0.21s ease-in-out;
  color: #13c1a7;
}
a.v471 {
  margin: 30px;
  grid-template-columns: repeat(2, 1fr);
}
[data-v='0dc2'] {
  height: 3%;
  opacity: 0.154;
  height: 103em;
}
div.v901 {
  margin: 86rem;
  grid-template-columns: repeat(2, 1fr);
}
[data-v='3a92'] {
  flex-direction: column-reverse;
  transition: all 0.60s ease-in-out;
  color: #81f9c7;
}
span.v191 {
  letter-spacing: 62rem;
  border-radius: 16vh;
}
[data-v='db62'] {
  line-height: 3%;
  overflow: auto;
  line-height: 7em;
}
li.ve21 {
  width: 54px;
  gap: 40vh;
}
[data-v='f032'] {
  flex-direction: column-reverse;
  font-size: 101vw;
  height: 119vw;
}
li.veb1 {
  width: 54px;
  grid-template-columns: repeat(2, 1fr);
}
[data-v='7902'] {
  line-height: 75%;
  transition: all 0.12s ease-in-out;
  line-height: 63%;
}
input.v341 {
  margin: 94vh;
  gap: 88vh;
}
[data-v='75d2'] {
  color: #22be23;
  opacity: 0.798;
  padding: 87%;
}
div.vbd1 {
  margin: 6px;
  background-color: #8f47f0;
}
[data-v='e6a2'] {
  padding: 43em;
  font-size: 5vw;
  line-height: 95vw;
}
div.v861 {
  margin: 46vh;
  grid-template-columns: repeat(2, 1fr);
}
[data-v='cb72'] {
  line-height: 107vw;
  overflow: auto;
  line-height: 79em;
}
div.v8f1 {
  z-index: 22vh;
  background-color: #3d7c90;
}
[data-v='2442'] {
  flex-direction: column-reverse;
  transition: all 0.32s ease-in-out;
  flex-direction: column-reverse;
}
section.vd81 {
  display: flex;
  border-radius: 40vh;
}
[data-v='f112'] {
  line-height: 107vw;
  overflow: auto;
  line-height: 79em;
}
button.v611 {
  letter-spacing: 86rem;
  background-color: #b50130;
}
[data-v='31e2'] {
  line-height: 3%;
  overflow: auto;
  flex-direction: column-reverse;
}
li.v2a1 {
  letter-spacing: 110rem;
  transform: rotate(56deg) scale(1.84);
}
[data-v='e6b2'] {
  color: #853083;
  overflow: auto;
  color: #1b0267;
}
span.v331 {
  letter-spacing: 30px;
  gap: 80rem;
}
[data-v='0f82'] {
  padding: 99%;
  overflow: auto;
  height: 63%;
}
a.v7c1 {
  letter-spacing: 46vh;
  background-color: #513e20;
}
[data-v='ac52'] {
  color: #7776a3;
  box-shadow: 0 5px 13px #780ecd;
  color: #bb9a87;
}
a.v051 {
  margin: 46vh;
  background-color: #9ffa70;
}
[data-v='bd22'] {
  height: 27%;
  opacity: 0.419;
  flex-direction: column-reverse;
}
input.vce1 {
  z-index: 110rem;
  gap: 80rem;
}
[data-v='41f2'] {
  height: 59vw;
  opacity: 0.142;
  padding: 71vw;
}
p.vd71 {
  margin: 102px;
  transform: rotate(24deg) scale(1.16);
}
[data-v='3ac2'] {
  padding: 51%;
  opacity: 0.022;
  padding: 71vw;
}
span.v201 {
  letter-spacing: 30px;
  transform: rotate(328deg) scale(1.81);
}
[data-v='a792'] {
  line-height: 43em;
  overflow: auto;
  height: 103em;
}
a.va91 {
  letter-spacing: 102px;
  gap: 40vh;
}
[data-v='8862'] {
  height: 35vw;
  font-size: 93%;
  height: 95vw;
}
article.v721 {
  letter-spacing: 46vh;
  border-radius: 48px;
}
[data-v='dd32'] {
  flex-direction: column-reverse;
  box-shadow: 0 5px 13px #26d02d;
  padding: 47vw;
}
input.v7b1 {
  width: 86rem;
  border-radius: 56rem;
}
[data-v='a602'] {
  flex-direction: column-reverse;
  overflow: auto;
  padding: 15%;
}
article.vc41 {
  z-index: 22vh;
  border-radius: 40vh;
}
[data-v='e2d2'] {
  flex-direction: column-reverse;
  font-size: 5vw;
  height: 39%;
}
p.v4d1 {
  z-index: 110rem;
  background-color: #c5acf0;
}
[data-v='93a2'] {
  height: 59vw;
  transition: all 0.34s ease-in-out;
  line-height: 95vw;
}
p.v161 {
  margin: 14rem;
  grid-template-columns: repeat(2, 1fr);
}
[data-v='b872'] {
  color: #bdc543;
  overflow: auto;
  padding: 87%;
}
button.v1f1 {
  display: grid;
  border-radius: 16vh;
}
[data-v='5142'] {
  padding: 115em;
  font-size: 109em;
  height: 7em;
}
span.v681 {
  margin: 110rem;
  background-color: #23b9e0;
}
[data-v='5e12'] {
  height: 35vw;
  transition: all 0.34s ease-in-out;
  line-height: 119vw;
}
a.vf11 {
  letter-spacing: 22vh;
  background-color: #806630;
}
[data-v='dee2'] {
  flex-direction: column-reverse;
  overflow: auto;
  color: #641d57;
}
a.vba1 {
  width: 22vh;
  grid-template-columns: repeat(2, 1fr);
}
[data-v='d3b2'] {
  padding: 11vw;
  overflow: auto;
  height: 23vw;
}
a.vc31 {
  margin: 30px;
  gap: 0px;
}
[data-v='3c82'] {
  height: 115em;
  box-shadow: 0 5px 13px #bcf03d;
  line-height: 119vw;
}
span.v0c1 {
  z-index: 14rem;
  transform: rotate(128deg) scale(0.78);
}
[data-v='1952'] {
  flex-direction: column-reverse;
  font-size: 101vw;
  height: 71vw;
}
p.v951 {
  display: inline-flex;
  grid-template-columns: repeat(2, 1fr);
}
[data-v='6a22'] {
  flex-direction: column-reverse;
  opacity: 0.218;
  padding: 31em;
}
span.v5e1 {
  z-index: 22vh;
  border-radius: 64vh;
}
[data-v='2ef2'] {
  padding: 19em;
  font-size: 61em;
  flex-direction: column-reverse;
}
p.v671 {
  display: flex;
  transform: rotate(336deg) scale(0.80);
}
[data-v='67c2'] {
  padding: 51%;
  font-size: 5vw;
  padding: 7em;
}
li.vb01 {
  z-index: 70vh;
  gap: 24px;
}
[data-v='1492'] {
  line-height: 35vw;
  opacity: 0.347;
  line-height: 63%;
}
button.v391 {
  width: 102px;
  gap: 104rem;
}
[data-v='3562'] {
  height: 75%;
  box-shadow: 0 5px 13px #99599d;
  flex-direction: column-reverse;
}
article.v021 {
  letter-spacing: 46vh;
  gap: 64vh;
}
[data-v='ca32'] {
  height: 11vw;
  font-size: 101vw;
  flex-direction: column-reverse;
}
a.v0b1 {
  display: inline-flex;
  background-color: #6e2d50;
}
