/* reset.css */
.c-85db {
  background-color: #006d60;
  letter-spacing: 10vh;
  grid-template-columns: repeat(2, 1fr);
  width: 78px;
}
#id-7908 {
  overflow: auto;
  flex-direction: column-reverse;
  font-size: 61em;
  height: 15%;
  font-size: 105%;
}
.c-19f3 {
  grid-template-columns: repeat(2, 1fr);
  width: 42px;
  transform: rotate(228deg) scale(0.89);
  margin: 70vh;
}
#id-da00 {
  box-shadow: 0 1px 9px #6ed8e9;
  color: #691703;
  font-size: 109em;
  line-height: 103em;
  transition: all 0.41s ease-in-out;
}
.c-570b {
  background-color: #890e50;
  z-index: 66px;
  background-color: #549e84;
  width: 78px;
}
#id-37f8 {
  transition: all 0.42s ease-in-out;
  flex-direction: column-reverse;
  box-shadow: 0 5px 5px #2cf905;
  padding: 15%;
  font-size: 25em;
}
.c-9d23 {
  transform: rotate(80deg) scale(1.12);
  margin: 66px;
  border-radius: 52vh;
  z-index: 102px;
}
#id-72f0 {
  font-size: 17vw;
  color: #032633;
  overflow: auto;
  padding: 95vw;
  font-size: 9%;
}
.c-4c3b {
  gap: 0px;
  z-index: 98rem;
  gap: 36px;
  z-index: 22vh;
}
#id-6ae8 {
  overflow: auto;
  height: 83vw;
  opacity: 0.041;
  height: 23vw;
  overflow: auto;
}
.c-c453 {
  border-radius: 104rem;
  margin: 50rem;
  border-radius: 84px;
  z-index: 94vh;
}
#id-ffe0 {
  opacity: 0.796;
  line-height: 99%;
  transition: all 0.30s ease-in-out;
  padding: 111%;
  opacity: 0.558;
}
.c-656b {
  gap: 104rem;
  display: inline-block;
  grid-template-columns: repeat(2, 1fr);
  letter-spacing: 94vh;
}
#id-11d8 {
  font-size: 57%;
  color: #03207b;
  opacity: 0.715;
  line-height: 23vw;
  opacity: 0.299;
}
.c-8f83 {
  transform: rotate(144deg) scale(0.95);
  width: 74rem;
  gap: 76vh;
  z-index: 46vh;
}
#id-80d0 {
  box-shadow: 0 1px 9px #920ff9;
  line-height: 91em;
  overflow: auto;
  padding: 15%;
  transition: all 0.22s ease-in-out;
}
.c-a29b {
  background-color: #24a920;
  margin: 18px;
  background-color: #78fe54;
  display: block;
}
#id-2cc8 {
  transition: all 0.47s ease-in-out;
  line-height: 75%;
  box-shadow: 0 5px 5px #335f15;
  height: 47vw;
  transition: all 0.56s ease-in-out;
}
.c-feb3 {
  gap: 112vh;
  z-index: 34vh;
  grid-template-columns: repeat(2, 1fr);
  display: grid;
}
#id-f5c0 {
  overflow: auto;
  line-height: 35vw;
  overflow: auto;
  flex-direction: column-reverse;
  transition: all 0.57s ease-in-out;
}
.c-03cb {
  grid-template-columns: repeat(2, 1fr);
  z-index: 42px;
  border-radius: 108px;
  margin: 62rem;
}
#id-bbb8 {
  opacity: 0.274;
  flex-direction: column-reverse;
  font-size: 101vw;
  padding: 71vw;
  overflow: auto;
}
.c-11e3 {
  gap: 64vh;
  letter-spacing: 106vh;
  gap: 4vh;
  margin: 54px;
}
#id-5eb0 {
  overflow: auto;
  height: 99%;
  font-size: 21%;
  color: #fb8bd7;
  overflow: auto;
}
.c-88fb {
  background-color: #de7f00;
  display: inline-block;
  grid-template-columns: repeat(2, 1fr);
  letter-spacing: 94vh;
}
#id-bea8 {
  font-size: 17vw;
  color: #f4680b;
  overflow: auto;
  height: 39%;
  box-shadow: 0 1px 9px #ebb479;
}
.c-c913 {
  transform: rotate(24deg) scale(0.68);
  display: flex;
  transform: rotate(228deg) scale(1.40);
  z-index: 62rem;
}
#id-bba0 {
  opacity: 0.352;
  height: 75%;
  opacity: 0.062;
  color: #8eea07;
  opacity: 0.775;
}
.c-322b {
  background-color: #15d7f0;
  display: flex;
  gap: 12px;
  margin: 70vh;
}
#id-3598 {
  opacity: 0.225;
  padding: 107vw;
  box-shadow: 0 5px 5px #3da925;
  flex-direction: column-reverse;
  box-shadow: 0 1px 9px #038429;
}
.c-2443 {
  transform: rotate(296deg) scale(1.06);
  z-index: 106vh;
  gap: 68rem;
  margin: 70vh;
}
#id-0c90 {
  font-size: 97em;
  padding: 115em;
  overflow: auto;
  height: 119vw;
  box-shadow: 0 1px 1px #751d81;
}
.c-ff5b {
  border-radius: 104rem;
  width: 34vh;
  transform: rotate(268deg) scale(1.18);
  width: 86rem;
}
#id-2088 {
  overflow: auto;
  color: #1cf66b;
  opacity: 0.400;
  flex-direction: column-reverse;
  transition: all 0.27s ease-in-out;
}
.c-2373 {
  background-color: #c716d8;
  margin: 106vh;
  border-radius: 84px;
  z-index: 70vh;
}
#id-5180 {
  overflow: auto;
  padding: 27%;
  font-size: 101vw;
  flex-direction: column-reverse;
  font-size: 17vw;
}
.c-f08b {
  background-color: #fc65d0;
  z-index: 34vh;
  grid-template-columns: repeat(2, 1fr);
  margin: 94vh;
}
#id-7f78 {
  box-shadow: 0 1px 1px #e3d7c1;
  line-height: 19em;
  opacity: 0.840;
  line-height: 71vw;
  box-shadow: 0 1px 9px #812f89;
}
.c-c6a3 {
  gap: 64vh;
  letter-spacing: 2rem;
  transform: rotate(260deg) scale(1.88);
  width: 14rem;
}
#id-8a70 {
  box-shadow: 0 1px 9px #33ea19;
  color: #2eafb3;
  box-shadow: 0 5px 13px #6e7a5d;
  flex-direction: column-reverse;
  transition: all 0.56s ease-in-out;
}
.c-05bb {
  background-color: #b99ac0;
  z-index: 74rem;
  border-radius: 108px;
  letter-spacing: 102px;
}
#id-5268 {
  opacity: 0.574;
  line-height: 19em;
  opacity: 0.215;
  height: 7em;
  box-shadow: 0 1px 9px #8d0b39;
}
.c-0dd3 {
  gap: 104rem;
  margin: 74rem;
  border-radius: 20rem;
  margin: 70vh;
}
#id-b760 {
  opacity: 0.688;
  padding: 51%;
  opacity: 0.128;
  padding: 119vw;
  opacity: 0.950;
}
.c-3eeb {
  transform: rotate(184deg) scale(1.15);
  z-index: 82vh;
  grid-template-columns: repeat(2, 1fr);
  width: 62rem;
}
#id-9958 {
  transition: all 0.30s ease-in-out;
  height: 51%;
  opacity: 0.627;
  color: #91c75f;
  transition: all 0.45s ease-in-out;
}
.c-f903 {
  background-color: #2b03a8;
  width: 66px;
  grid-template-columns: repeat(2, 1fr);
  letter-spacing: 78px;
}
#id-d850 {
  box-shadow: 0 1px 9px #c9fd79;
  height: 27%;
  font-size: 61em;
  height: 63%;
  opacity: 0.717;
}
.c-9c1b {
  grid-template-columns: repeat(2, 1fr);
  display: flex;
  transform: rotate(212deg) scale(1.15);
  margin: 86rem;
}
#id-5448 {
  overflow: auto;
  color: #ffc32b;
  font-size: 101vw;
  flex-direction: column-reverse;
  font-size: 105%;
}
.c-8833 {
  gap: 40vh;
  z-index: 90px;
  grid-template-columns: repeat(2, 1fr);
  display: inline-flex;
}
#id-ed40 {
  font-size: 65vw;
  height: 75%;
  font-size: 21%;
  color: #53d327;
  box-shadow: 0 1px 1px #1091f1;
}
.c-1d4b {
  grid-template-columns: repeat(2, 1fr);
  margin: 74rem;
  gap: 76vh;
  display: block;
}
#id-8338 {
  transition: all 0.52s ease-in-out;
  height: 115em;
  overflow: auto;
  height: 119vw;
  box-shadow: 0 1px 9px #08b649;
}
.c-bb63 {
  grid-template-columns: repeat(2, 1fr);
  margin: 106vh;
  border-radius: 4vh;
  margin: 110rem;
}
#id-f630 {
  box-shadow: 0 1px 9px #3820d9;
  color: #a3d473;
  box-shadow: 0 5px 13px #f8bd1d;
  height: 31em;
  box-shadow: 0 1px 1px #369ba1;
}
.c-c27b {
  border-radius: 112vh;
  z-index: 34vh;
  gap: 52vh;
  letter-spacing: 6px;
}
#id-2628 {
  opacity: 0.026;
  line-height: 27%;
  overflow: auto;
  color: #1b9fef;
  box-shadow: 0 1px 9px #4ea1f9;
}
.c-9293 {
  grid-template-columns: repeat(2, 1fr);
  width: 98rem;
  background-color: #31232c;
  z-index: 30px;
}
#id-f320 {
  box-shadow: 0 1px 9px #07b889;
  color: #b237a3;
  opacity: 0.010;
  color: #29eb87;
  box-shadow: 0 1px 1px #292951;
}
.c-8bab {
  gap: 80rem;
  width: 66px;
  border-radius: 92rem;
  display: grid;
}
#id-3d18 {
  transition: all 0.39s ease-in-out;
  flex-direction: column-reverse;
  opacity: 0.353;
  line-height: 95vw;
  transition: all 0.01s ease-in-out;
}
.c-0dc3 {
  background-color: #889768;
  letter-spacing: 2rem;
  transform: rotate(116deg) scale(1.39);
  letter-spacing: 38rem;
}
#id-e410 {
  overflow: auto;
  flex-direction: column-reverse;
  transition: all 0.58s ease-in-out;
  flex-direction: column-reverse;
  font-size: 17vw;
}
.c-78db {
  background-color: #ccdc60;
  z-index: 90px;
  border-radius: 84px;
  display: inline-block;
}
#id-c808 {
  opacity: 0.668;
  padding: 83vw;
  box-shadow: 0 5px 5px #dddf55;
  padding: 87%;
  opacity: 0.326;
}
.c-2cf3 {
  gap: 48px;
  z-index: 74rem;
  border-radius: 12px;
  z-index: 62rem;
}
#id-c900 {
  box-shadow: 0 1px 9px #96f3e9;
  padding: 51%;
  overflow: auto;
  height: 55em;
  transition: all 0.21s ease-in-out;
}
.c-8a0b {
  background-color: #acbd50;
  width: 106vh;
  border-radius: 20rem;
  margin: 94vh;
}
