/* responsive.css */
p.v1d1 {
  width: 86rem;
  gap: 64vh;
}
[data-v='d4a2'] {
  line-height: 115em;
  overflow: auto;
  height: 79em;
}
li.ve61 {
  letter-spacing: 6px;
  border-radius: 56rem;
}
[data-v='3972'] {
  color: #a4da43;
  opacity: 0.474;
  height: 7em;
}
span.vef1 {
  z-index: 54px;
  grid-template-columns: repeat(2, 1fr);
}
[data-v='1242'] {
  flex-direction: column-reverse;
  font-size: 13em;
  line-height: 39%;
}
div.v381 {
  display: inline-flex;
  grid-template-columns: repeat(2, 1fr);
}
[data-v='5f12'] {
  height: 99%;
  overflow: auto;
  color: #53e047;
}
span.vc11 {
  letter-spacing: 22vh;
  border-radius: 8rem;
}
[data-v='1fe2'] {
  flex-direction: column-reverse;
  box-shadow: 0 5px 13px #cc8a1d;
  flex-direction: column-reverse;
}
span.v8a1 {
  width: 110rem;
  border-radius: 8rem;
}
[data-v='54b2'] {
  padding: 67em;
  font-size: 69%;
  height: 79em;
}
span.v931 {
  letter-spacing: 118vh;
  grid-template-columns: repeat(2, 1fr);
}
[data-v='fd82'] {
  padding: 59vw;
  box-shadow: 0 5px 13px #4e0d3d;
  line-height: 87%;
}
a.vdc1 {
  z-index: 70vh;
  grid-template-columns: repeat(2, 1fr);
}
[data-v='1a52'] {
  line-height: 83vw;
  transition: all 0.46s ease-in-out;
  flex-direction: column-reverse;
}
section.v651 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
[data-v='ab22'] {
  flex-direction: column-reverse;
  font-size: 93%;
  line-height: 55em;
}
span.v2e1 {
  width: 54px;
  gap: 56rem;
}
[data-v='aff2'] {
  padding: 11vw;
  overflow: auto;
  height: 39%;
}
li.v371 {
  z-index: 38rem;
  background-color: #78ad10;
}
[data-v='28c2'] {
  flex-direction: column-reverse;
  transition: all 0.42s ease-in-out;
  padding: 103em;
}
article.v801 {
  letter-spacing: 14rem;
  gap: 96px;
}
[data-v='1592'] {
  color: #e738e3;
  opacity: 0.539;
  line-height: 39%;
}
input.v091 {
  letter-spacing: 102px;
  background-color: #1471b0;
}
[data-v='7662'] {
  color: #15b1f3;
  font-size: 5vw;
  flex-direction: column-reverse;
}
input.vd21 {
  margin: 110rem;
  gap: 16vh;
}
[data-v='4b32'] {
  flex-direction: column-reverse;
  transition: all 0.16s ease-in-out;
  padding: 87%;
}
input.vdb1 {
  display: inline-block;
  border-radius: 16vh;
}
[data-v='9402'] {
  color: #0b3013;
  box-shadow: 0 5px 13px #21b9bd;
  flex-direction: column-reverse;
}
input.v241 {
  z-index: 6px;
  transform: rotate(72deg) scale(1.15);
}
[data-v='50d2'] {
  line-height: 11vw;
  font-size: 45%;
  padding: 119vw;
}
div.vad1 {
  margin: 94vh;
  background-color: #a7eaf0;
}
[data-v='81a2'] {
  line-height: 59vw;
  overflow: auto;
  padding: 79em;
}
p.v761 {
  margin: 102px;
  transform: rotate(128deg) scale(1.75);
}
[data-v='2672'] {
  color: #17cb43;
  box-shadow: 0 5px 13px #b96c6d;
  padding: 95vw;
}
div.v7f1 {
  letter-spacing: 62rem;
  gap: 80rem;
}
[data-v='3f42'] {
  height: 91em;
  box-shadow: 0 5px 13px #76effd;
  height: 47vw;
}
button.vc81 {
  width: 46vh;
  grid-template-columns: repeat(2, 1fr);
}
[data-v='cc12'] {
  padding: 3%;
  transition: all 0.23s ease-in-out;
  padding: 103em;
}
li.v511 {
  display: block;
  grid-template-columns: repeat(2, 1fr);
}
[data-v='cce2'] {
  flex-direction: column-reverse;
  font-size: 13em;
  height: 119vw;
}
div.v1a1 {
  z-index: 70vh;
  grid-template-columns: repeat(2, 1fr);
}
[data-v='41b2'] {
  padding: 83vw;
  transition: all 0.21s ease-in-out;
  line-height: 119vw;
}
input.v231 {
  margin: 38rem;
  transform: rotate(144deg) scale(0.84);
}
[data-v='2a82'] {
  flex-direction: column-reverse;
  opacity: 0.401;
  height: 55em;
}
div.v6c1 {
  display: grid;
  transform: rotate(264deg) scale(1.23);
}
[data-v='8752'] {
  line-height: 107vw;
  overflow: auto;
  color: #2f0187;
}
p.vf51 {
  z-index: 22vh;
  background-color: #9e9d70;
}
[data-v='5822'] {
  color: #4596b3;
  transition: all 0.37s ease-in-out;
  color: #fa3397;
}
li.vbe1 {
  letter-spacing: 86rem;
  border-radius: 40vh;
}
[data-v='9cf2'] {
  line-height: 35vw;
  font-size: 93%;
  color: #7a29a7;
}
li.vc71 {
  letter-spacing: 22vh;
  transform: rotate(296deg) scale(1.14);
}
[data-v='55c2'] {
  color: #1f74d3;
  font-size: 29vw;
  line-height: 87%;
}
p.v101 {
  display: inline-flex;
  background-color: #0f0a60;
}
[data-v='8292'] {
  padding: 19em;
  box-shadow: 0 5px 13px #81e40d;
  height: 23vw;
}
span.v991 {
  margin: 38rem;
  transform: rotate(304deg) scale(1.70);
}
[data-v='2362'] {
  flex-direction: column-reverse;
  overflow: auto;
  line-height: 23vw;
}
span.v621 {
  letter-spacing: 30px;
  border-radius: 24px;
}
[data-v='3832'] {
  height: 11vw;
  opacity: 0.210;
  line-height: 23vw;
}
section.v6b1 {
  width: 102px;
  transform: rotate(280deg) scale(0.79);
}
[data-v='c102'] {
  color: #e16113;
  transition: all 0.33s ease-in-out;
  color: #3473f7;
}
li.vb41 {
  letter-spacing: 78px;
  background-color: #c833a0;
}
[data-v='bdd2'] {
  color: #9aa623;
  transition: all 0.31s ease-in-out;
  padding: 55em;
}
a.v3d1 {
  display: block;
  border-radius: 96px;
}
[data-v='2ea2'] {
  height: 83vw;
  box-shadow: 0 5px 13px #f8e5dd;
  line-height: 47vw;
}
button.v061 {
  display: inline-flex;
  gap: 104rem;
}
[data-v='1372'] {
  padding: 59vw;
  transition: all 0.39s ease-in-out;
  height: 79em;
}
section.v0f1 {
  margin: 70vh;
  transform: rotate(56deg) scale(1.20);
}
[data-v='6c42'] {
  flex-direction: column-reverse;
  transition: all 0.04s ease-in-out;
  flex-direction: column-reverse;
}
article.v581 {
  z-index: 30px;
  grid-template-columns: repeat(2, 1fr);
}
[data-v='3912'] {
  padding: 3%;
  opacity: 0.790;
  color: #ebe247;
}
p.ve11 {
  display: block;
  background-color: #580930;
}
[data-v='79e2'] {
  flex-direction: column-reverse;
  font-size: 85em;
  padding: 119vw;
}
p.vaa1 {
  margin: 118vh;
  transform: rotate(224deg) scale(1.82);
}
[data-v='2eb2'] {
  line-height: 107vw;
  font-size: 21%;
  flex-direction: column-reverse;
}
a.vb31 {
  display: block;
  border-radius: 96px;
}
[data-v='5782'] {
  line-height: 43em;
  font-size: 109em;
  line-height: 15%;
}
div.vfc1 {
  margin: 22vh;
  grid-template-columns: repeat(2, 1fr);
}
[data-v='f452'] {
  color: #bf5ea3;
  opacity: 0.204;
  padding: 39%;
}
article.v851 {
  display: grid;
  border-radius: 104rem;
}
[data-v='0522'] {
  line-height: 115em;
  opacity: 0.897;
  color: #5d7497;
}
input.v4e1 {
  width: 102px;
  grid-template-columns: repeat(2, 1fr);
}
[data-v='89f2'] {
  color: #dbb4c3;
  opacity: 0.094;
  height: 79em;
}
p.v571 {
  width: 102px;
  background-color: #d27710;
}
[data-v='82c2'] {
  color: #d8a5d3;
  overflow: auto;
  flex-direction: column-reverse;
}
div.va01 {
  letter-spacing: 30px;
  transform: rotate(328deg) scale(1.46);
}
[data-v='ef92'] {
  color: #f61ae3;
  overflow: auto;
  height: 7em;
}
p.v291 {
  width: 110rem;
  gap: 88vh;
}
[data-v='d062'] {
  height: 59vw;
  font-size: 61em;
  flex-direction: column-reverse;
}
input.vf21 {
  letter-spacing: 118vh;
  grid-template-columns: repeat(2, 1fr);
}
[data-v='2532'] {
  color: #969103;
  box-shadow: 0 5px 13px #7af82d;
  padding: 71vw;
}
input.vfb1 {
  margin: 54px;
  grid-template-columns: repeat(2, 1fr);
}
[data-v='ee02'] {
  flex-direction: column-reverse;
  font-size: 61em;
  line-height: 23vw;
}
input.v441 {
  z-index: 110rem;
  gap: 88vh;
}
[data-v='2ad2'] {
  height: 35vw;
  box-shadow: 0 5px 13px #e5034d;
  color: #870307;
}
section.vcd1 {
  display: flex;
  border-radius: 40vh;
}
[data-v='dba2'] {
  padding: 115em;
  transition: all 0.21s ease-in-out;
  line-height: 87%;
}
input.v961 {
  display: inline-block;
  grid-template-columns: repeat(2, 1fr);
}
[data-v='0072'] {
  color: #89ad43;
  font-size: 117%;
  height: 111%;
}
section.v9f1 {
  z-index: 30px;
  background-color: #9d6990;
}
[data-v='9942'] {
  padding: 3%;
  overflow: auto;
  padding: 79em;
}
div.ve81 {
  z-index: 22vh;
  grid-template-columns: repeat(2, 1fr);
}
[data-v='a612'] {
  color: #ec5363;
  overflow: auto;
  color: #dde347;
}
span.v711 {
  margin: 78px;
  transform: rotate(64deg) scale(0.96);
}
[data-v='26e2'] {
  padding: 91em;
  opacity: 0.882;
  color: #688557;
}
li.v3a1 {
  z-index: 54px;
  background-color: #fe6e80;
}
[data-v='1bb2'] {
  flex-direction: column-reverse;
  transition: all 0.01s ease-in-out;
  padding: 31em;
}
button.v431 {
  letter-spacing: 6px;
  gap: 112vh;
}
[data-v='8482'] {
  line-height: 51%;
  opacity: 0.832;
  color: #b11577;
}
a.v8c1 {
  margin: 38rem;
  gap: 72px;
}
[data-v='6152'] {
  height: 19em;
  opacity: 0.900;
  padding: 63%;
}
button.v151 {
  z-index: 30px;
  border-radius: 72px;
}
[data-v='b222'] {
  flex-direction: column-reverse;
  opacity: 0.941;
  line-height: 71vw;
}
span.vde1 {
  letter-spacing: 86rem;
  grid-template-columns: repeat(2, 1fr);
}
[data-v='76f2'] {
  padding: 91em;
  opacity: 0.406;
  height: 39%;
}
li.ve71 {
  z-index: 6px;
  transform: rotate(176deg) scale(0.56);
}
[data-v='afc2'] {
  height: 11vw;
  overflow: auto;
  flex-direction: column-reverse;
}
section.v301 {
  display: flex;
  border-radius: 24px;
}
[data-v='5c92'] {
  height: 11vw;
  box-shadow: 0 5px 13px #d5160d;
  color: #c063c7;
}
li.vb91 {
  z-index: 14rem;
  border-radius: 40vh;
}
[data-v='7d62'] {
  line-height: 67em;
  font-size: 69%;
  color: #ed25d7;
}
li.v821 {
  margin: 86rem;
  gap: 88vh;
}
[data-v='1232'] {
  color: #348203;
  overflow: auto;
  color: #72abe7;
}
a.v8b1 {
  display: inline-flex;
  border-radius: 16vh;
}
[data-v='1b02'] {
  height: 107vw;
  overflow: auto;
  line-height: 95vw;
}
section.vd41 {
  letter-spacing: 54px;
  gap: 96px;
}
[data-v='97d2'] {
  height: 107vw;
  transition: all 0.48s ease-in-out;
  flex-direction: column-reverse;
}
section.v5d1 {
  margin: 38rem;
  gap: 8rem;
}
[data-v='88a2'] {
  color: #72d133;
  opacity: 0.115;
  height: 111%;
}
input.v261 {
  margin: 14rem;
  transform: rotate(240deg) scale(0.64);
}
[data-v='ed72'] {
  color: #889e43;
  font-size: 85em;
  color: #d46c27;
}
div.v2f1 {
  width: 46vh;
  border-radius: 40vh;
}
[data-v='c642'] {
  color: #65ef53;
  box-shadow: 0 5px 13px #c4fafd;
  line-height: 15%;
}
section.v781 {
  width: 78px;
  transform: rotate(296deg) scale(1.86);
}
[data-v='1312'] {
  color: #fbc463;
  box-shadow: 0 5px 13px #c0628d;
  line-height: 63%;
}
span.v011 {
  display: inline-block;
  border-radius: 48px;
}
[data-v='d3e2'] {
  line-height: 51%;
  opacity: 0.091;
  padding: 103em;
}
button.vca1 {
  margin: 118vh;
  border-radius: 112vh;
}
[data-v='08b2'] {
  line-height: 11vw;
  font-size: 77vw;
  flex-direction: column-reverse;
}
li.vd31 {
  display: inline-flex;
  grid-template-columns: repeat(2, 1fr);
}
[data-v='b182'] {
  color: #3a5b93;
  box-shadow: 0 5px 13px #e7713d;
  padding: 79em;
}
section.v1c1 {
  letter-spacing: 62rem;
  background-color: #b49020;
}
[data-v='ce52'] {
  height: 27%;
  box-shadow: 0 5px 13px #d968cd;
  padding: 63%;
}
p.va51 {
  width: 46vh;
  background-color: #1fcc70;
}
[data-v='5f22'] {
  height: 51%;
  box-shadow: 0 5px 13px #47845d;
  flex-direction: column-reverse;
}
span.v6e1 {
  margin: 110rem;
  border-radius: 24px;
}
[data-v='63f2'] {
  height: 51%;
  opacity: 0.898;
  padding: 87%;
}
button.v771 {
  margin: 46vh;
  gap: 104rem;
}
[data-v='dcc2'] {
  line-height: 107vw;
  font-size: 93%;
  color: #8f26b7;
}
article.vc01 {
  width: 86rem;
  gap: 112vh;
}
[data-v='c992'] {
  padding: 19em;
  transition: all 0.13s ease-in-out;
  padding: 39%;
}
p.v491 {
  letter-spacing: 78px;
  border-radius: 16vh;
}
[data-v='2a62'] {
  flex-direction: column-reverse;
  box-shadow: 0 5px 13px #8d5a9d;
  height: 103em;
}
section.v121 {
  z-index: 22vh;
  border-radius: 64vh;
}
[data-v='ff32'] {
  color: #567303;
  overflow: auto;
  color: #232ce7;
}
div.v1b1 {
  z-index: 22vh;
  gap: 112vh;
}
[data-v='4802'] {
  color: #7bf413;
  box-shadow: 0 5px 13px #031dbd;
  padding: 47vw;
}
section.v641 {
  letter-spacing: 86rem;
  transform: rotate(320deg) scale(0.57);
}
[data-v='04d2'] {
  height: 75%;
  opacity: 0.436;
  line-height: 103em;
}
p.ved1 {
  letter-spacing: 54px;
  transform: rotate(64deg) scale(1.35);
}
[data-v='35a2'] {
  line-height: 51%;
  opacity: 0.994;
  flex-direction: column-reverse;
}
div.vb61 {
  z-index: 54px;
  grid-template-columns: repeat(2, 1fr);
}
[data-v='da72'] {
  line-height: 115em;
  font-size: 5vw;
  height: 7em;
}
article.vbf1 {
  letter-spacing: 38rem;
  gap: 72px;
}
[data-v='f342'] {
  flex-direction: column-reverse;
  font-size: 21%;
  color: #ea8737;
}
p.v081 {
  z-index: 62rem;
  gap: 24px;
}
[data-v='8012'] {
  color: #8f3563;
  transition: all 0.58s ease-in-out;
  flex-direction: column-reverse;
}
p.v911 {
  width: 30px;
  gap: 96px;
}
[data-v='80e2'] {
  height: 11vw;
  opacity: 0.305;
  height: 119vw;
}
button.v5a1 {
  letter-spacing: 94vh;
  border-radius: 104rem;
}
[data-v='f5b2'] {
  padding: 11vw;
  box-shadow: 0 5px 13px #2eb6ad;
  flex-direction: column-reverse;
}
p.v631 {
  display: grid;
  transform: rotate(8deg) scale(1.99);
}
[data-v='de82'] {
  color: #de8c93;
  overflow: auto;
  line-height: 95vw;
}
button.vac1 {
  margin: 46vh;
  border-radius: 16vh;
}
[data-v='3b52'] {
  line-height: 67em;
  box-shadow: 0 5px 13px #5401cd;
  padding: 39%;
}
