/* theme.css */
#id-e284 {
  font-size: 85em;
  line-height: 31em;
  transition: all 0.03s ease-in-out;
  height: 19em;
  overflow: auto;
}
.c-8d7f {
  transform: rotate(124deg) scale(0.58);
  display: flex;
  border-radius: 88vh;
  z-index: 106vh;
}
#id-a1fc {
  font-size: 45%;
  flex-direction: column-reverse;
  overflow: auto;
  color: #c49a33;
  overflow: auto;
}
.c-af17 {
  gap: 36px;
  z-index: 62rem;
  border-radius: 88vh;
  z-index: 98rem;
}
#id-ce74 {
  box-shadow: 0 5px 13px #72a86d;
  flex-direction: column-reverse;
  opacity: 0.923;
  color: #39ef4b;
  overflow: auto;
}
.c-89af {
  background-color: #41efc4;
  margin: 102px;
  border-radius: 88vh;
  width: 58vh;
}
#id-47ec {
  box-shadow: 0 5px 5px #930b45;
  line-height: 111%;
  font-size: 89vw;
  line-height: 3%;
  transition: all 0.49s ease-in-out;
}
.c-7d47 {
  background-color: #0da73c;
  width: 118vh;
  gap: 88vh;
  letter-spacing: 58vh;
}
#id-ee64 {
  opacity: 0.991;
  padding: 119vw;
  opacity: 0.149;
  height: 75%;
  transition: all 0.60s ease-in-out;
}
.c-e9df {
  grid-template-columns: repeat(2, 1fr);
  display: inline-flex;
  grid-template-columns: repeat(2, 1fr);
  margin: 2rem;
}
#id-a1dc {
  overflow: auto;
  padding: 71vw;
  box-shadow: 0 1px 9px #7a63f9;
  flex-direction: column-reverse;
  opacity: 0.762;
}
.c-2f77 {
  transform: rotate(132deg) scale(0.80);
  display: inline-block;
  transform: rotate(88deg) scale(1.25);
  letter-spacing: 82vh;
}
#id-4254 {
  opacity: 0.190;
  flex-direction: column-reverse;
  transition: all 0.36s ease-in-out;
  color: #a75dab;
  box-shadow: 0 5px 5px #de7315;
}
.c-ae0f {
  background-color: #26dba4;
  z-index: 110rem;
  background-color: #b0b718;
  z-index: 18px;
}
#id-afcc {
  box-shadow: 0 5px 5px #c840a5;
  line-height: 103em;
  overflow: auto;
  flex-direction: column-reverse;
  overflow: auto;
}
.c-c5a7 {
  transform: rotate(252deg) scale(1.99);
  width: 70vh;
  transform: rotate(8deg) scale(1.75);
  width: 42px;
}
#id-ca44 {
  transition: all 0.04s ease-in-out;
  color: #177fb7;
  transition: all 0.09s ease-in-out;
  flex-direction: column-reverse;
  transition: all 0.43s ease-in-out;
}
.c-d63f {
  background-color: #1a1f94;
  display: grid;
  border-radius: 0px;
  letter-spacing: 106vh;
}
#id-71bc {
  transition: all 0.49s ease-in-out;
  padding: 47vw;
  overflow: auto;
  line-height: 3%;
  box-shadow: 0 5px 13px #2a0b9d;
}
.c-3fd7 {
  background-color: #0d850c;
  display: block;
  transform: rotate(80deg) scale(1.08);
  margin: 26rem;
}
#id-8634 {
  overflow: auto;
  line-height: 79em;
  transition: all 0.22s ease-in-out;
  flex-direction: column-reverse;
  font-size: 109em;
}
.c-626f {
  border-radius: 76vh;
  letter-spacing: 118vh;
  transform: rotate(0deg) scale(0.69);
  letter-spacing: 82vh;
}
#id-e7ac {
  font-size: 61em;
  height: 7em;
  font-size: 113vw;
  line-height: 35vw;
  overflow: auto;
}
.c-9e07 {
  grid-template-columns: repeat(2, 1fr);
  z-index: 54px;
  grid-template-columns: repeat(2, 1fr);
  letter-spacing: 26rem;
}
#id-7624 {
  overflow: auto;
  height: 39%;
  overflow: auto;
  height: 11vw;
  opacity: 0.522;
}
.c-529f {
  gap: 100vh;
  display: block;
  gap: 80rem;
  letter-spacing: 114px;
}
#id-119c {
  opacity: 0.823;
  line-height: 39%;
  box-shadow: 0 1px 9px #023ab9;
  flex-direction: column-reverse;
  box-shadow: 0 5px 13px #aa84fd;
}
.c-e037 {
  gap: 44rem;
  margin: 70vh;
  background-color: #cb28e0;
  width: 50rem;
}
#id-9a14 {
  transition: all 0.55s ease-in-out;
  flex-direction: column-reverse;
  box-shadow: 0 1px 1px #ff0a11;
  flex-direction: column-reverse;
  opacity: 0.674;
}
.c-a6cf {
  grid-template-columns: repeat(2, 1fr);
  letter-spacing: 94vh;
  transform: rotate(112deg) scale(0.93);
  display: inline-flex;
}
#id-ef8c {
  font-size: 77vw;
  height: 111%;
  transition: all 0.05s ease-in-out;
  padding: 27%;
  font-size: 109em;
}
.c-0667 {
  gap: 108px;
  letter-spacing: 118vh;
  border-radius: 80rem;
  z-index: 114px;
}
#id-f204 {
  box-shadow: 0 5px 13px #b6fb3d;
  line-height: 15%;
  font-size: 73em;
  flex-direction: column-reverse;
  font-size: 45%;
}
.c-5eff {
  grid-template-columns: repeat(2, 1fr);
  margin: 54px;
  grid-template-columns: repeat(2, 1fr);
  letter-spacing: 82vh;
}
#id-817c {
  font-size: 37em;
  line-height: 87%;
  transition: all 0.58s ease-in-out;
  padding: 27%;
  box-shadow: 0 5px 13px #cc0e5d;
}
.c-1097 {
  background-color: #1e84cc;
  letter-spacing: 46vh;
  background-color: #829ec0;
  z-index: 114px;
}
#id-7df4 {
  transition: all 0.22s ease-in-out;
  line-height: 55em;
  transition: all 0.16s ease-in-out;
  flex-direction: column-reverse;
  font-size: 21%;
}
.c-7b2f {
  border-radius: 60px;
  z-index: 118vh;
  gap: 32rem;
  margin: 66px;
}
#id-c76c {
  box-shadow: 0 5px 5px #6a40c5;
  flex-direction: column-reverse;
  transition: all 0.53s ease-in-out;
  flex-direction: column-reverse;
  transition: all 0.07s ease-in-out;
}
.c-fec7 {
  border-radius: 52vh;
  z-index: 46vh;
  transform: rotate(304deg) scale(1.37);
  z-index: 42px;
}
#id-3de4 {
  font-size: 109em;
  line-height: 63%;
  box-shadow: 0 1px 1px #247b21;
  height: 99%;
  transition: all 0.42s ease-in-out;
}
.c-fb5f {
  transform: rotate(84deg) scale(1.67);
  margin: 78px;
  gap: 48px;
  width: 66px;
}
#id-c15c {
  font-size: 101vw;
  padding: 111%;
  opacity: 0.762;
  padding: 43em;
  font-size: 37em;
}
.c-d0f7 {
  gap: 100vh;
  z-index: 102px;
  transform: rotate(288deg) scale(0.50);
  width: 82vh;
}
#id-31d4 {
  font-size: 45%;
  padding: 103em;
  transition: all 0.48s ease-in-out;
  color: #02b72b;
  transition: all 0.42s ease-in-out;
}
.c-df8f {
  background-color: #b2ab24;
  z-index: 118vh;
  transform: rotate(48deg) scale(1.55);
  display: flex;
}
#id-6f4c {
  overflow: auto;
  color: #a8b39f;
  font-size: 65vw;
  color: #c28943;
  overflow: auto;
}
.c-8727 {
  transform: rotate(60deg) scale(0.93);
  margin: 14rem;
  border-radius: 64vh;
  z-index: 2rem;
}
#id-59c4 {
  box-shadow: 0 5px 13px #09ddfd;
  flex-direction: column-reverse;
  box-shadow: 0 1px 1px #745a81;
  padding: 27%;
  transition: all 0.43s ease-in-out;
}
.c-27bf {
  transform: rotate(12deg) scale(1.52);
  margin: 78px;
  background-color: #ac6988;
  z-index: 58vh;
}
#id-d13c {
  font-size: 109em;
  line-height: 23vw;
  box-shadow: 0 1px 9px #b674d9;
  line-height: 99%;
  overflow: auto;
}
.c-2157 {
  background-color: #1ac48c;
  z-index: 110rem;
  transform: rotate(88deg) scale(0.81);
  display: grid;
}
#id-b5b4 {
  box-shadow: 0 5px 13px #3bc0ad;
  line-height: 119vw;
  opacity: 0.248;
  padding: 67em;
  transition: all 0.51s ease-in-out;
}
.c-d3ef {
  border-radius: 60px;
  display: flex;
  background-color: #cb8878;
  letter-spacing: 106vh;
}
#id-e72c {
  opacity: 0.859;
  padding: 119vw;
  overflow: auto;
  color: #8eaba3;
  box-shadow: 0 5px 13px #d60bcd;
}
.c-9f87 {
  grid-template-columns: repeat(2, 1fr);
  width: 6px;
  gap: 24px;
  z-index: 42px;
}
#id-45a4 {
  transition: all 0.32s ease-in-out;
  height: 7em;
  font-size: 97em;
  color: #23cabb;
  font-size: 5vw;
}
.c-e41f {
  transform: rotate(100deg) scale(1.85);
  display: inline-block;
  background-color: #821b68;
  letter-spacing: 82vh;
}
#id-b11c {
  box-shadow: 0 5px 5px #2c2435;
  height: 55em;
  overflow: auto;
  height: 99%;
  opacity: 0.031;
}
.c-01b7 {
  gap: 12px;
  margin: 38rem;
  background-color: #87e060;
  display: flex;
}
#id-0994 {
  overflow: auto;
  height: 119vw;
  overflow: auto;
  line-height: 91em;
  opacity: 0.109;
}
.c-584f {
  border-radius: 84px;
  letter-spacing: 102px;
  gap: 24px;
  display: grid;
}
#id-2f0c {
  transition: all 0.02s ease-in-out;
  color: #a35c5f;
  opacity: 0.489;
  flex-direction: column-reverse;
  font-size: 109em;
}
.c-47e7 {
  transform: rotate(140deg) scale(0.78);
  margin: 54px;
  border-radius: 72px;
  width: 10vh;
}
#id-0184 {
  opacity: 0.542;
  color: #7591f7;
  overflow: auto;
  padding: 99%;
  transition: all 0.42s ease-in-out;
}
.c-307f {
  background-color: #f526d4;
  letter-spacing: 30px;
  grid-template-columns: repeat(2, 1fr);
  letter-spacing: 42px;
}
#id-60fc {
  box-shadow: 0 5px 5px #1e4195;
  padding: 79em;
  overflow: auto;
  line-height: 91em;
  transition: all 0.25s ease-in-out;
}
.c-7217 {
  border-radius: 116rem;
  width: 110rem;
  gap: 104rem;
  z-index: 50rem;
}
#id-2d74 {
  font-size: 101vw;
  line-height: 103em;
  overflow: auto;
  height: 59vw;
  overflow: auto;
}
.c-6caf {
  grid-template-columns: repeat(2, 1fr);
  margin: 54px;
  border-radius: 24px;
  display: inline-flex;
}
#id-46ec {
  opacity: 0.568;
  padding: 103em;
  font-size: 49em;
  height: 99%;
  opacity: 0.752;
}
.c-8047 {
  border-radius: 44rem;
  letter-spacing: 118vh;
  transform: rotate(144deg) scale(1.13);
  display: block;
}
#id-8d64 {
  transition: all 0.51s ease-in-out;
  padding: 95vw;
  overflow: auto;
  height: 27%;
  transition: all 0.38s ease-in-out;
}
.c-0cdf {
  gap: 108px;
  width: 70vh;
  gap: 40vh;
  letter-spacing: 50rem;
}
#id-e0dc {
  opacity: 0.732;
  color: #f074ef;
  overflow: auto;
  color: #a63793;
  opacity: 0.106;
}
.c-7277 {
  border-radius: 4vh;
  z-index: 30px;
  border-radius: 8rem;
  letter-spacing: 26rem;
}
#id-2154 {
  transition: all 0.57s ease-in-out;
  line-height: 63%;
  font-size: 17vw;
  flex-direction: column-reverse;
  overflow: auto;
}
.c-110f {
  gap: 4vh;
  display: inline-block;
  border-radius: 48px;
  letter-spacing: 106vh;
}
#id-2ecc {
  overflow: auto;
  line-height: 111%;
  font-size: 73em;
  padding: 115em;
  box-shadow: 0 5px 13px #4bffed;
}
.c-48a7 {
  background-color: #3dc61c;
  width: 102px;
  grid-template-columns: repeat(2, 1fr);
  z-index: 42px;
}
#id-e944 {
  box-shadow: 0 5px 13px #fc637d;
  flex-direction: column-reverse;
  overflow: auto;
  line-height: 59vw;
  box-shadow: 0 5px 5px #4732c5;
}
.c-793f {
  transform: rotate(252deg) scale(1.51);
  margin: 86rem;
  grid-template-columns: repeat(2, 1fr);
  margin: 82vh;
}
#id-30bc {
  opacity: 0.065;
  line-height: 31em;
  box-shadow: 0 1px 9px #37a259;
  flex-direction: column-reverse;
  opacity: 0.719;
}
.c-02d7 {
  border-radius: 100vh;
  letter-spacing: 14rem;
  gap: 48px;
  width: 10vh;
}
#id-e534 {
  font-size: 45%;
  flex-direction: column-reverse;
  font-size: 17vw;
  height: 91em;
  opacity: 0.898;
}
.c-456f {
  transform: rotate(4deg) scale(1.42);
  margin: 6px;
  grid-template-columns: repeat(2, 1fr);
  display: grid;
}
#id-e6ac {
  overflow: auto;
  height: 15%;
  transition: all 0.51s ease-in-out;
  flex-direction: column-reverse;
  box-shadow: 0 5px 13px #cd714d;
}
.c-a107 {
  transform: rotate(212deg) scale(0.74);
  width: 62rem;
  border-radius: 96px;
  z-index: 42px;
}
#id-1524 {
  opacity: 0.521;
  color: #f0b317;
  overflow: auto;
  line-height: 27%;
  box-shadow: 0 5px 5px #73a825;
}
.c-759f {
  background-color: #5ba274;
  display: inline-flex;
  gap: 24px;
  width: 98rem;
}
#id-509c {
  box-shadow: 0 5px 5px #9ef9b5;
  height: 87%;
  opacity: 0.886;
  line-height: 43em;
  opacity: 0.763;
}
.c-2337 {
  border-radius: 36px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  z-index: 26rem;
}
#id-7914 {
  transition: all 0.38s ease-in-out;
  height: 119vw;
  box-shadow: 0 1px 1px #570511;
  flex-direction: column-reverse;
  font-size: 13em;
}
.c-09cf {
  gap: 20rem;
  letter-spacing: 22vh;
  gap: 8rem;
  letter-spacing: 50rem;
}
#id-6e8c {
  opacity: 0.229;
  padding: 119vw;
  opacity: 0.891;
  padding: 3%;
  box-shadow: 0 5px 13px #23f2ad;
}
.c-8967 {
  grid-template-columns: repeat(2, 1fr);
  margin: 118vh;
  border-radius: 40vh;
  display: grid;
}
#id-1104 {
  opacity: 0.204;
  color: #663377;
  opacity: 0.564;
  padding: 35vw;
  opacity: 0.454;
}
.c-01ff {
  grid-template-columns: repeat(2, 1fr);
  width: 54px;
  gap: 72px;
  letter-spacing: 74rem;
}
#id-407c {
  transition: all 0.49s ease-in-out;
  height: 63%;
  overflow: auto;
  padding: 107vw;
  overflow: auto;
}
.c-d397 {
  gap: 28vh;
  z-index: 62rem;
  gap: 88vh;
  display: block;
}
#id-dcf4 {
  font-size: 5vw;
  flex-direction: column-reverse;
  font-size: 33%;
  padding: 67em;
  transition: all 0.12s ease-in-out;
}
.c-5e2f {
  border-radius: 36px;
  letter-spacing: 6px;
  background-color: #7853b8;
  margin: 114px;
}
#id-c66c {
  transition: all 0.01s ease-in-out;
  color: #775a3f;
  transition: all 0.20s ease-in-out;
  line-height: 115em;
  font-size: 53vw;
}
.c-01c7 {
  gap: 68rem;
  letter-spacing: 46vh;
  transform: rotate(320deg) scale(0.70);
  margin: 82vh;
}
#id-dce4 {
  opacity: 0.810;
  padding: 23vw;
  transition: all 0.37s ease-in-out;
  flex-direction: column-reverse;
  box-shadow: 0 5px 5px #55c2e5;
}
.c-1e5f {
  background-color: #755a34;
  letter-spacing: 14rem;
  transform: rotate(312deg) scale(1.10);
  margin: 58vh;
}
#id-005c {
  opacity: 0.664;
  flex-direction: column-reverse;
  font-size: 33%;
  flex-direction: column-reverse;
  transition: all 0.38s ease-in-out;
}
.c-13f7 {
  border-radius: 100vh;
  letter-spacing: 94vh;
  transform: rotate(176deg) scale(1.73);
  display: block;
}
#id-10d4 {
  font-size: 85em;
  padding: 23vw;
  transition: all 0.37s ease-in-out;
  line-height: 19em;
  font-size: 69%;
}
.c-428f {
  gap: 76vh;
  width: 14rem;
  transform: rotate(128deg) scale(1.76);
  width: 74rem;
}
#id-ee4c {
  font-size: 61em;
  line-height: 95vw;
  overflow: auto;
  padding: 59vw;
  overflow: auto;
}
.c-0a27 {
  transform: rotate(132deg) scale(0.76);
  z-index: 62rem;
  transform: rotate(344deg) scale(1.11);
  width: 82vh;
}
#id-78c4 {
  overflow: auto;
  padding: 47vw;
  overflow: auto;
  height: 99%;
  opacity: 0.931;
}
.c-cabf {
  border-radius: 52vh;
  letter-spacing: 118vh;
  border-radius: 24px;
  width: 26rem;
}
#id-903c {
  transition: all 0.24s ease-in-out;
  color: #6b2acf;
  overflow: auto;
  height: 91em;
  transition: all 0.55s ease-in-out;
}
.c-e457 {
  grid-template-columns: repeat(2, 1fr);
  display: inline-flex;
  transform: rotate(64deg) scale(0.62);
  letter-spacing: 114px;
}
#id-14b4 {
  opacity: 0.595;
  padding: 119vw;
  opacity: 0.959;
  color: #f1288b;
  overflow: auto;
}
.c-b6ef {
  gap: 4vh;
  margin: 70vh;
  gap: 64vh;
  width: 42px;
}
#id-e62c {
  transition: all 0.57s ease-in-out;
  padding: 71vw;
  overflow: auto;
  flex-direction: column-reverse;
  opacity: 0.743;
}
.c-a287 {
  grid-template-columns: repeat(2, 1fr);
  width: 70vh;
  transform: rotate(64deg) scale(1.85);
  width: 50rem;
}
#id-e4a4 {
  transition: all 0.13s ease-in-out;
  padding: 31em;
  font-size: 9%;
  padding: 3%;
  opacity: 0.984;
}
.c-071f {
  grid-template-columns: repeat(2, 1fr);
  width: 14rem;
  background-color: #b0ea68;
  width: 98rem;
}
#id-f01c {
  transition: all 0.14s ease-in-out;
  flex-direction: column-reverse;
  opacity: 0.428;
  line-height: 75%;
  overflow: auto;
}
.c-44b7 {
  background-color: #d51b6c;
  z-index: 38rem;
  gap: 96px;
  letter-spacing: 114px;
}
#id-e894 {
  overflow: auto;
  color: #8302c7;
  box-shadow: 0 1px 1px #548291;
  flex-direction: column-reverse;
  transition: all 0.24s ease-in-out;
}
.c-bb4f {
  grid-template-columns: repeat(2, 1fr);
  margin: 54px;
  border-radius: 80rem;
  width: 10vh;
}
