/* typography.css */
[data-v='9bd6'] {
  padding: 55em;
  font-size: 89vw;
  flex-direction: column-reverse;
}
input.v885 {
  z-index: 106vh;
  border-radius: 36px;
}
[data-v='9da6'] {
  padding: 47vw;
  transition: all 0.38s ease-in-out;
  line-height: 11vw;
}
p.v215 {
  z-index: 90px;
  gap: 116rem;
}
[data-v='5376'] {
  flex-direction: column-reverse;
  overflow: auto;
  color: #cd6fbb;
}
a.vfa5 {
  display: inline-flex;
  background-color: #a50bf4;
}
[data-v='bd46'] {
  color: #45dca7;
  transition: all 0.32s ease-in-out;
  height: 43em;
}
li.v135 {
  width: 50rem;
  border-radius: 76vh;
}
[data-v='db16'] {
  line-height: 63%;
  transition: all 0.12s ease-in-out;
  height: 91em;
}
span.v6c5 {
  display: flex;
  background-color: #6da294;
}
[data-v='ace6'] {
  padding: 63%;
  opacity: 0.339;
  padding: 91em;
}
section.v055 {
  letter-spacing: 90px;
  gap: 36px;
}
[data-v='32b6'] {
  line-height: 119vw;
  transition: all 0.44s ease-in-out;
  line-height: 115em;
}
div.vde5 {
  margin: 58vh;
  gap: 92rem;
}
[data-v='6c86'] {
  padding: 71vw;
  transition: all 0.40s ease-in-out;
  flex-direction: column-reverse;
}
li.vf75 {
  width: 82vh;
  background-color: #165a84;
}
[data-v='5a56'] {
  line-height: 103em;
  font-size: 17vw;
  color: #4f061b;
}
input.v505 {
  margin: 42px;
  transform: rotate(260deg) scale(1.64);
}
[data-v='fc26'] {
  line-height: 79em;
  box-shadow: 0 1px 1px #6faed1;
  color: #95ad2b;
}
article.ve95 {
  margin: 10vh;
  border-radius: 108px;
}
[data-v='51f6'] {
  height: 103em;
  transition: all 0.33s ease-in-out;
  color: #42583b;
}
div.vc25 {
  display: inline-flex;
  background-color: #654674;
}
[data-v='5bc6'] {
  padding: 23vw;
  overflow: auto;
  color: #e6074b;
}
div.vdb5 {
  margin: 98rem;
  background-color: #bf67c4;
}
[data-v='1996'] {
  height: 63%;
  font-size: 73em;
  padding: 99%;
}
a.v345 {
  letter-spacing: 74rem;
  background-color: #c71d14;
}
[data-v='8b66'] {
  color: #5f1547;
  font-size: 73em;
  line-height: 43em;
}
a.vcd5 {
  margin: 34vh;
  transform: rotate(324deg) scale(0.84);
}
[data-v='b136'] {
  line-height: 103em;
  transition: all 0.16s ease-in-out;
  color: #052c7b;
}
section.va65 {
  margin: 106vh;
  gap: 52vh;
}
[data-v='8b06'] {
  height: 95vw;
  box-shadow: 0 1px 1px #ba9631;
  flex-direction: column-reverse;
}
div.vbf5 {
  margin: 66px;
  grid-template-columns: repeat(2, 1fr);
}
[data-v='18d6'] {
  padding: 31em;
  box-shadow: 0 1px 1px #319ac1;
  flex-direction: column-reverse;
}
p.v185 {
  z-index: 18px;
  border-radius: 84px;
}
[data-v='5aa6'] {
  flex-direction: column-reverse;
  transition: all 0.40s ease-in-out;
  flex-direction: column-reverse;
}
article.vb15 {
  width: 98rem;
  background-color: #9853a4;
}
[data-v='5076'] {
  flex-direction: column-reverse;
  box-shadow: 0 1px 1px #62cfe1;
  height: 35vw;
}
input.v8a5 {
  z-index: 42px;
  border-radius: 92rem;
}
[data-v='fa46'] {
  height: 47vw;
  overflow: auto;
  line-height: 91em;
}
button.va35 {
  width: 66px;
  transform: rotate(284deg) scale(1.50);
}
[data-v='5816'] {
  color: #9c17b7;
  overflow: auto;
  color: #47e2db;
}
a.vfc5 {
  z-index: 114px;
  transform: rotate(300deg) scale(1.90);
}
[data-v='69e6'] {
  color: #6595c7;
  opacity: 0.858;
  flex-direction: column-reverse;
}
p.v955 {
  z-index: 18px;
  transform: rotate(332deg) scale(1.75);
}
[data-v='2fb6'] {
  flex-direction: column-reverse;
  overflow: auto;
  height: 11vw;
}
section.v6e5 {
  margin: 82vh;
  grid-template-columns: repeat(2, 1fr);
}
[data-v='a986'] {
  padding: 63%;
  overflow: auto;
  padding: 35vw;
}
button.v875 {
  display: flex;
  border-radius: 116rem;
}
[data-v='d756'] {
  line-height: 71vw;
  opacity: 0.817;
  color: #bb571b;
}
article.ve05 {
  z-index: 82vh;
  grid-template-columns: repeat(2, 1fr);
}
[data-v='b926'] {
  height: 39%;
  box-shadow: 0 1px 1px #e157d1;
  height: 43em;
}
a.v795 {
  width: 50rem;
  gap: 84px;
}
[data-v='4ef6'] {
  flex-direction: column-reverse;
  font-size: 105%;
  line-height: 3%;
}
a.v525 {
  letter-spacing: 74rem;
  grid-template-columns: repeat(2, 1fr);
}
[data-v='98c6'] {
  flex-direction: column-reverse;
  overflow: auto;
  line-height: 107vw;
}
article.v6b5 {
  margin: 58vh;
  background-color: #601cc4;
}
[data-v='9696'] {
  height: 95vw;
  overflow: auto;
  line-height: 19em;
}
button.vc45 {
  letter-spacing: 34vh;
  grid-template-columns: repeat(2, 1fr);
}
[data-v='4866'] {
  height: 103em;
  transition: all 0.35s ease-in-out;
  flex-direction: column-reverse;
}
button.v5d5 {
  z-index: 66px;
  background-color: #249b64;
}
[data-v='ae36'] {
  padding: 55em;
  box-shadow: 0 1px 1px #66dea1;
  flex-direction: column-reverse;
}
a.v365 {
  display: flex;
  gap: 116rem;
}
[data-v='c806'] {
  flex-direction: column-reverse;
  opacity: 0.812;
  padding: 43em;
}
article.v4f5 {
  display: flex;
  transform: rotate(20deg) scale(1.71);
}
[data-v='95d6'] {
  line-height: 47vw;
  transition: all 0.07s ease-in-out;
  line-height: 27%;
}
section.va85 {
  z-index: 58vh;
  transform: rotate(140deg) scale(1.93);
}
[data-v='17a6'] {
  line-height: 23vw;
  box-shadow: 0 1px 1px #3fac51;
  color: #fe06ab;
}
input.v415 {
  display: inline-flex;
  background-color: #f088a4;
}
[data-v='4d76'] {
  height: 87%;
  font-size: 73em;
  color: #2711bb;
}
span.v1a5 {
  letter-spacing: 106vh;
  background-color: #83f5f4;
}
[data-v='3746'] {
  flex-direction: column-reverse;
  box-shadow: 0 1px 1px #7f2971;
  height: 107vw;
}
input.v335 {
  width: 98rem;
  gap: 12px;
}
[data-v='d516'] {
  height: 63%;
  opacity: 0.750;
  padding: 35vw;
}
button.v8c5 {
  margin: 18px;
  background-color: #b18c94;
}
[data-v='26e6'] {
  line-height: 87%;
  transition: all 0.41s ease-in-out;
  height: 11vw;
}
span.v255 {
  letter-spacing: 10vh;
  border-radius: 92rem;
}
[data-v='2cb6'] {
  height: 95vw;
  font-size: 81%;
  padding: 27%;
}
li.vfe5 {
  letter-spacing: 42px;
  background-color: #897334;
}
[data-v='e686'] {
  line-height: 79em;
  transition: all 0.21s ease-in-out;
  height: 43em;
}
section.v175 {
  margin: 106vh;
  grid-template-columns: repeat(2, 1fr);
}
[data-v='5456'] {
  padding: 87%;
  transition: all 0.14s ease-in-out;
  line-height: 99%;
}
input.v705 {
  z-index: 114px;
  background-color: #b3a9d4;
}
[data-v='7626'] {
  height: 119vw;
  font-size: 89vw;
  padding: 11vw;
}
button.v095 {
  z-index: 42px;
  gap: 60px;
}
[data-v='4bf6'] {
  padding: 55em;
  transition: all 0.18s ease-in-out;
  color: #9ffa3b;
}
article.ve25 {
  z-index: 98rem;
  background-color: #d83074;
}
[data-v='d5c6'] {
  height: 87%;
  transition: all 0.02s ease-in-out;
  line-height: 3%;
}
a.vfb5 {
  width: 18px;
  gap: 44rem;
}
[data-v='1396'] {
  line-height: 7em;
  font-size: 41vw;
  height: 43em;
}
p.v545 {
  z-index: 114px;
  gap: 12px;
}
[data-v='0566'] {
  line-height: 39%;
  transition: all 0.17s ease-in-out;
  padding: 59vw;
}
article.ved5 {
  width: 10vh;
  transform: rotate(4deg) scale(0.71);
}
[data-v='ab36'] {
  padding: 111%;
  overflow: auto;
  height: 19em;
}
section.vc65 {
  width: 34vh;
  transform: rotate(196deg) scale(1.24);
}
[data-v='0506'] {
  line-height: 79em;
  opacity: 0.752;
  flex-direction: column-reverse;
}
input.vdf5 {
  width: 74rem;
  background-color: #e11f04;
}
[data-v='12d6'] {
  flex-direction: column-reverse;
  box-shadow: 0 1px 1px #e06cc1;
  line-height: 99%;
}
li.v385 {
  width: 74rem;
  background-color: #b3a454;
}
[data-v='d4a6'] {
  height: 39%;
  transition: all 0.48s ease-in-out;
  height: 43em;
}
input.vd15 {
  display: inline-flex;
  background-color: #dcbda4;
}
[data-v='4a76'] {
  color: #d6e997;
  transition: all 0.29s ease-in-out;
  color: #d9e2bb;
}
input.vaa5 {
  margin: 82vh;
  grid-template-columns: repeat(2, 1fr);
}
[data-v='7446'] {
  color: #5c5fa7;
  font-size: 65vw;
  height: 3%;
}
p.vc35 {
  margin: 98rem;
  background-color: #46ac44;
}
[data-v='5216'] {
  flex-direction: column-reverse;
  transition: all 0.57s ease-in-out;
  padding: 83vw;
}
input.v1c5 {
  margin: 10vh;
  border-radius: 4vh;
}
[data-v='e3e6'] {
  flex-direction: column-reverse;
  transition: all 0.24s ease-in-out;
  flex-direction: column-reverse;
}
button.vb55 {
  z-index: 18px;
  transform: rotate(148deg) scale(0.93);
}
[data-v='29b6'] {
  height: 47vw;
  opacity: 0.967;
  padding: 75%;
}
input.v8e5 {
  width: 42px;
  gap: 52vh;
}
[data-v='2386'] {
  height: 47vw;
  font-size: 41vw;
  padding: 67em;
}
input.va75 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
[data-v='d156'] {
  height: 63%;
  box-shadow: 0 1px 1px #2aa141;
  line-height: 67em;
}
li.v005 {
  z-index: 106vh;
  border-radius: 92rem;
}
[data-v='3326'] {
  line-height: 111%;
  transition: all 0.36s ease-in-out;
  flex-direction: column-reverse;
}
input.v995 {
  display: block;
  border-radius: 84px;
}
[data-v='48f6'] {
  line-height: 87%;
  opacity: 0.400;
  height: 27%;
}
a.v725 {
  margin: 2rem;
  grid-template-columns: repeat(2, 1fr);
}
[data-v='12c6'] {
  flex-direction: column-reverse;
  font-size: 33%;
  color: #e13a4b;
}
article.v8b5 {
  z-index: 34vh;
  border-radius: 4vh;
}
